<app-header></app-header>

<div class="section">
  <div class="container">
    <div class="content">
      <ul>
        <li><a href="#" class="subtitle">Список документов для участников археологической экспедиции</a></li>
        <li><a href="#" class="subtitle">Примерный список вещей для экспедиции</a></li>
        <li><a href="#" class="subtitle">Правила поведения в экспедиции</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Список документов для участников археологической экспедиции</h1>

      <ul>
        <li>справка о состоянии здоровья (с печатью для больничных листов), в которой должна быть следующая формулировка: "Ф. И. О. разрешена работа в летний период в составе археологической экспедиции в Крыму"</li>
        <li>заявление о зачислении в состав ААЭ</li>
        <li>ксерокопия документов (загранпаспорта или российского паспорта) 2 экз.</li>
        <li>фотография, подписанная на обороте (Ф. И. О., год рождения)</li>
        <li>договор с отправляющей стороной</li>
        <li>денежный взнос за пребывание в ААЭ или квитанцию о его уплате отправляющей стороне</li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Примерный список вещей для экспедиции</h1>

      <h2>Документы</h2>
      <ul>
        <li>паспорт</li>
        <li>командировка, приказ и бланки (для руководителей)</li>
        <li>медицинская справка</li>
      </ul>

      <h2>Аппаратура</h2>
      <ul>
        <li>фотоаппарат</li>
        <li>фонарик</li>
        <li>батарейки</li>
        <li>мобильный телефон</li>
      </ul>

      <h2>Прочие вещи</h2>
      <ul>
        <li>палатка и деревянные колышки для нее (длиной более 0,40 м)</li>
        <li>туристический коврик, спальный мешок, вкладыш в спальный мешок или простыня</li>
        <li>тюль или сетка от насекомых, жидкость от комаров и мошки</li>
        <li>набор металлической посуды, две столовые ложки*, консервный нож, нож, топорик</li>
        <li>тапки спорт, кроссовки, вьетнамки</li>
        <li>куртка (штормовка), дождевик, 3 смены белья, перчатки для работы, шапка и очки от солнца, свитер, спортивный костюм, плавательный костюм</li>
        <li>сухой паек на три дня + консервы, супы, печенье, сухари, чай, кофе и пр. (для личного пользования)</li>
        <li>аптечка и средства личной гигиены</li>
      </ul>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
    <div class="content">
      <h1>Правила поведения в экспедиции</h1>

      <p>Необходимо соблюдать технику безопасности во время пребывания в ААЭ, включая санитарно-гигиенические нормы проживания и работы в полевых условиях.</p>
      <p>В случае любого недомогания и плохого самочувствия вы обязаны уведомить медперсонал и руководство ААЭ.</p>

      <h2>Запрещается</h2>
      <ul>
        <li>самовольно (без разрешения руководителей ААЭ) покидать территорию лагеря и место работы</li>
        <li>нарушать режим дня и работы</li>
        <li>приглашать без разрешения в лагерь или на раскоп посторонних лиц</li>
        <li>привозить в лагерь взрывоопасные предметы и ядовитые вещества, употреблять наркотики и алкогольные напитки, пищевые продукты с просроченным сроком годности</li>
        <li>пить не кипяченую воду, есть не мытые овощи и фрукты, покупать продукты питания у местного населения без разрешения руководства</li>
        <li>купаться в море и лазать по скалам и деревьям без разрешения руководителей</li>
        <li>бегать и ходить по бровкам, бортам раскопа, кидать и высыпать сторону в людей отработанный грунт камни, инструмент и т. п</li>
        <li>курить в пределах раскопа и на территории ААЭ (за исключением особого места для курения)</li>
        <li>ловить и трогать ядовитых животных и насекомых, приносить в лагерь любых домашних и диких животных</li>
        <li>мешать окружающим во время отдыха или работы</li>
        <li>выносить без разрешения с раскопа, разборной площадки и камеральных палаток находки и оборудование ААЭ</li>
        <li>входить без разрешения в палатки научных сотрудников и администрации ААЭ, а также в продуктовую и хозяйственные палатки, чертежный домик и кухню</li>
        <li>находится или покидать без разрешения водителей и ответственных за перевозки машины ААЭ</li>
        <li>отдыхать около машин и механизмов</li>
        <li>работать и находится на солнце без головных уборов и защитной одежды</li>
        <li>не выполнять распоряжения руководства ААЭ</li>
        <li>выбрасывать мусор и пищевые отходы на территории лагеря и за его пределами, за исключением специально отведенных для этого мест</li>
        <li>приближаться к щитовым, трансформаторной будке, прикасаться к эл/проводам, самовольно включать эл/приборы и эл/печь</li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
