<section class="aae-header" [class.main]="section.alias === 'main'">
  <div class="aae-header-wrapper">

    <div class="aae-header-row">

      <div class="aae-header-title">
        <span class="aae-header-title-short" routerLink="/">ААЭ</span>
        <span class="aae-header-title-divider"> | </span>
        <span class="aae-header-title-full">Российско-Крымская<br>экспедиция МПГУ</span>
        <span class="aae-header-title-page" [innerHtml]="section.name"></span>
      </div>

      <div *ngIf="section.alias !== 'form'" routerLink="/form" class="aae-header-title-form">Подать заявку</div>

    </div>

  </div>
</section>
