<section [class.main]="section.alias === 'main'">
  <div class="wrapper">

    <div class="row">

      <div class="title">
        <span *ngIf="section.alias === 'main'" class="short" routerLink="/">ААЭ</span>
        <span *ngIf="section.alias !== 'main'" class="logo" routerLink="/"></span>
        <span class="divider"> | </span>
        <span *ngIf="section.alias === 'main'" class="full">Российско-Крымская<br>экспедиция МПГУ</span>
        <span *ngIf="section.alias !== 'main'" class="page" [innerHtml]="section.name"></span>
      </div>

      <div *ngIf="section.alias !== 'form'" routerLink="/form" class="form">Подать заявку</div>

    </div>

  </div>
</section>
