@import "../../../colors"
@import "../../../variables"

.aae-top
  position: relative
  background-color: $secondary
  background-position: center center
  background-size: cover
  background-repeat: no-repeat

  .aae-top-gradient
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    opacity: .7
    background: $black-opacity-6
    background: -webkit-linear-gradient( $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: -moz-linear-gradient(    $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: -o-linear-gradient(      $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: linear-gradient(         $black-opacity-6, $black-opacity-0, $black-opacity-1)
    z-index: 10

  .aae-top-title,
  .aae-top-intro
    position: relative
    width: 100%
    max-width: 1400px
    margin: 0 auto
    z-index: 20

    .aae-top-wrapper
      padding: 0 60px

  .aae-top-title
    padding-top: 30px

    .aae-top-author
      text-align: right
      text-shadow: 1px 1px 2px $grey-900

      .aae-author-name,
      .aae-author-title
        color: $grey-100

      .aae-author-name
        font-weight: 500

      .aae-author-title
        font-weight: 400
        font-style: italic

    h1
      color: $white
      font-size: 60px
      font-weight: 500
      text-align: left
      line-height: 63px
      text-shadow: 1px 1px 2px $grey-900

  .aae-top-intro
    display: flex
    justify-content: flex-end
    align-items: flex-end

    .aae-top-intro-content
      color: $white
      font-weight: 500
      font-size: 16px
      letter-spacing: 1px
      text-transform: uppercase
      text-align: right
      padding: 60px 0 60px 0
      text-shadow: 1px 1px 2px $grey-900

