@import "../../../variables"

section
  position: relative
  background-color: $top-bg
  background-position: center center
  background-size: cover
  background-repeat: no-repeat

  .gradient
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    +opacity(0.7)
    background: $black-opacity-6
    background: -webkit-linear-gradient( $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: -moz-linear-gradient(    $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: -o-linear-gradient(      $black-opacity-6, $black-opacity-0, $black-opacity-1)
    background: linear-gradient(         $black-opacity-6, $black-opacity-0, $black-opacity-1)
    z-index: 10

  .title,
  .intro
    position: relative
    width: 100%
    max-width: 1400px
    margin: 0 auto
    z-index: 20

    .wrapper
      padding: 0 60px

  .title
    padding-top: 30px

    .author
      text-align: right
      text-shadow: $top-author-ts
      color: $top-author

      .name
        font-weight: 500

      .title
        font-weight: 400
        font-style: italic

    h1
      color: $top-title
      font-size: 60px
      font-weight: 500
      text-align: left
      line-height: 63px
      text-shadow: $top-title-ts

  .intro
    display: flex
    justify-content: flex-end
    align-items: flex-end

    .intro-content
      color: $top-intro
      font-weight: 500
      font-size: 16px
      letter-spacing: 1px
      text-transform: uppercase
      text-align: right
      padding: 60px 0 60px 0
      text-shadow: $top-intro-ts

@media (max-width: 899px)
  h1
    color: red

@media (min-width: 900px) and (max-width: 1199px)
  h1
    color: green

@media (min-width: 1200px) and (max-width: 1399px)
  h1
    color: black

@media (min-width: 1400px)
  h1
    color: violet
