<section *ngIf="topImgUrl" class="aae-top" [ngStyle]="{'min-height': height, 'background-image': 'url(' + topImgUrl + ')'}">

  <div class="aae-top-gradient"></div>

  <app-header [section]="section"></app-header>
  
  <app-menu [alias]="section.alias"></app-menu>
  
  <app-breadcrumbs [section]="section" [subalias]="subalias"></app-breadcrumbs>

  <div *ngIf="title" class="aae-top-title">
    <div class="aae-top-wrapper">

      <p *ngIf="name" class="aae-top-author">
        <span class="aae-author-name" [innerHtml]="name"></span>
        <span *ngIf="info" class="aae-author-title" [innerHtml]="info"></span>
      </p>

      <h1 [innerHtml]="title"></h1>

    </div>
  </div>

  <div *ngIf="intro" class="aae-top-intro">
    <div class="aae-top-wrapper">
      <div class="aae-top-intro-content" [innerHtml]="intro"></div>
    </div>
  </div>

</section>
