<section class="aae-top">

  <div *ngIf="image" class="aae-top-img" [ngStyle]="{'height': height, 'background-image': 'url(/assets/img/' + path + '/' + image + '.jpg)'}"></div>

  <div class="aae-top-gradient"></div>

  <div *ngIf="title" class="aae-top-title">

    <h1 [innerHtml]="title"></h1>

    <p *ngIf="name" class="aae-top-author">
      <span class="aae-author-name" [innerHtml]="name"></span>
      <span *ngIf="info" class="aae-author-title" [innerHtml]="info"></span>
    </p>

  </div>

  <div *ngIf="intro" class="aae-top-intro" [ngStyle]="{'height': halfHeight}">

    <div class="aae-top-intro-content" [innerHtml]="intro"></div>

  </div>

</section>
