@import "../../../variables"

section
  background-color: $call-bg
  padding: 100px
  text-align: center

  .text
    p
      +font-size(60px)
      font-weight: 100
      color: $call-text
      margin: 50px 0
      line-height: 90px

  .button
    margin-bottom: 1em
    text-align: center

    div
      +transition(all .25s ease-out)
      +font-size(16px)
      display: inline-block
      font-weight: 600
      background-color: $call-button-bg
      color: $call-button
      cursor: pointer
      padding: 15px 30px
      border: 2px solid $call-button-bd
      border-radius: 3px
      text-transform: uppercase

      &:hover,
      &:active
        background-color: $call-button-hv-bg
        color: $call-button-hv
        border-color: $call-button-hv-bd
