@import "../../../variables"

.aae-call
  text-align: center
  background-color: $primary
  padding: 100px

  .aae-call-text
    p
      font-size: 60px
      font-weight: 100
      line-height: 90px
      color: $white
      margin: 50px 0

  .aae-call-button
    margin-bottom: 1em
    text-align: center

    div
      display: inline-block
      background-color: transparent
      border: 2px solid $white
      color: $white
      font-size: 16px
      font-weight: 600
      padding: 15px 30px
      cursor: pointer
      border-radius: 3px
      text-transform: uppercase
      -webkit-transition: all 250ms ease-out
      -moz-transition: all 250ms ease-out
      -o-transition: all 250ms ease-out
      transition: all 250ms ease-out

      &:hover,
      &:active
        color: $primary
        background-color: $white
        border-color: $white
