@import "../../../colors"
@import "../../../variables"

.aae-about
  position: relative
  margin: $margin-wide-top 0 $margin-wide-bottom

  .aae-about-wrapper
    margin: $margin-wide auto
    padding: $padding-wide
    width: $width-wide
