<section class="aae-blog">

  <div class="aae-main-wrapper-narrow">
    <div *ngFor="let item of blogItems">
      <h2><a routerLink="/articles/{{ item.id }}">{{ item.title }}</a></h2>
      <p class="aae-article-date">{{ item.date }}</p>
      <p class="aae-article-author">
        <span class="aae-author-name">{{ item.author.name }},</span>
        <span class="aae-author-info">{{ item.author.info }}</span>
      </p>
      <div class="aae-article-intro" [innerHtml]="item.intro"></div>
    </div>
  </div>

</section>
