@import "../../../colors"
@import "../../../variables"

.aae-blog
  position: relative
  margin: $margin-narrow-top 0 $margin-narrow-bottom

  .aae-blog-wrapper
    background-color: $grey-100
    margin: 200px auto
    padding: 100px
    width: $width-narrow

    .aae-blog-header
      a
        color: $grey-900
        text-decoration: none
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          color: $primary

    .aae-blog-author
      color: $blue-grey-900
      border-top: 1px dotted $blue-grey-600
      border-bottom: 1px dotted $blue-grey-600
      padding: 13px 0
      font-size: 14px
      font-weight: 300

      .aae-blog-author-name
        font-weight: 500

      .aae-blog-author-info
        font-style: italic
        padding: 0 0 0 5px

    .aae-blog-intro-wrapper
      display: flex
      justify-content: space-between
      align-items: flex-start

      .aae-blog-date
        color: $blue-grey-900
        min-width: 100px
        font-weight: 300
        font-size: 14px
        line-height: 22px
        padding: 9px 0 0 0

    .aae-blog-read-more
      text-align: center
      padding-top: 35px

      a
        display: inline-block
        padding: 10px 30px
        border: 2px solid $blue-grey-600
        color: $blue-grey-700
        border-radius: 3px
        text-decoration: none
        font-weight: 500
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          background-color: $blue-grey-700
          border-color: $blue-grey-700
          color: $white
