<section class="aae-blog">

  <div class="aae-blog-wrapper" *ngFor="let item of blogItems">

    <h2 class="aae-blog-header"><a routerLink="/articles/{{ item.id }}">{{ item.title }}</a></h2>

    <p class="aae-blog-author">
      <span class="aae-blog-author-name">{{ item.author.name }},</span>
      <span class="aae-blog-author-info">{{ item.author.info }}</span>
    </p>

    <div class="aae-blog-intro-wrapper">

      <p class="aae-blog-date">{{ item.date }}</p>

      <div class="aae-blog-intro" [innerHtml]="item.intro"></div>

    </div>

    <div class="aae-blog-read-more">
      <a routerLink="/articles/{{ item.id }}">читать</a>
    </div>

  </div>

</section>
