@import "../../../variables"

section
  position: relative
  margin: 150px 0 250px

  .wrapper
    background-color: $blog-bg
    box-shadow: 0 2px 2px 0 $blog-bs-1, 0 0 0 1px $blog-bs-2
    padding: 100px
    margin: 100px auto
    width: 600px

    .header
      a
        +transition(all .25s ease-out)
        color: $blog-header
        text-decoration: none

        &:hover,
        &:active
          color: $blog-header-hv

    .author
      +font-size(14px)
      font-weight: 300
      color: $blog-author
      padding: 13px 0
      border-top: 1px dotted $blog-author-bd
      border-bottom: 1px dotted $blog-author-bd

      .name
        font-weight: 500

      .info
        font-style: italic
        padding: 0 0 0 5px

    .intro
      +flex(space-between, flex-start)

      .date
        +font-size(14px)
        font-weight: 300
        color: $blog-date
        padding: 9px 0 0 0
        line-height: 22px
        min-width: 100px

    .read-more
      padding-top: 35px
      text-align: center

      a
        +transition(all .25s ease-out)
        display: inline-block
        font-weight: 500
        color: $blog-read-more
        padding: 10px 30px
        border: 2px solid $blog-read-more-bd
        border-radius: 3px
        text-decoration: none

        &:hover,
        &:active
          background-color: $blog-read-more-hv-bg
          color: $blog-read-more-hv
          border-color: $blog-read-more-hv-bd
