<section [class.main]="section.alias === 'main'">
  <div class="wrapper">

    <!-- Top ================================================================= -->
    <aae-top *ngIf="section.alias !== 'main'" [section]="section" [subalias]="subalias" [menu]="menu"></aae-top>

    <!-- Down Button ========================================================= -->
    <div class="down" [ngStyle]="{'top': pageDownTop}">
      <div class="down-wrapper">
        <span (click)="scrollDown()"><i class="fa fa-chevron-circle-down"></i></span>
      </div>
    </div>

    <!-- Pages =============================================================== -->
    <aae-main *ngIf="section.alias === 'main'" [menu]="menu"></aae-main>
    <aae-form *ngIf="section.alias === 'form'"></aae-form>
    <aae-not-found *ngIf="section.alias === '404'"></aae-not-found>
    <aae-about *ngIf="section.alias === 'about' && subalias === ''" [alias]="section.alias"></aae-about>
    <aae-blog *ngIf="(section.alias === 'articles' && subalias === '') || (section.alias === 'news' && subalias === '')" [alias]="section.alias"></aae-blog>
    <aae-article *ngIf="(section.alias === 'about' && subalias) || (section.alias === 'articles' && subalias) || (section.alias === 'news' && subalias)" [alias]="section.alias" [subalias]="subalias"></aae-article>
    <aae-gallery *ngIf="section.alias === 'gallery' && subalias === ''"></aae-gallery>
    <aae-album *ngIf="section.alias === 'gallery' && subalias" [subalias]="subalias" [albumName]="section.name"></aae-album>

    <!-- Call ================================================================ -->
    <aae-call *ngIf="section.alias !== 'main'" [alias]="section.alias"></aae-call>

    <!-- Footer ============================================================== -->
    <aae-footer *ngIf="section.alias !== 'main'"></aae-footer>

  </div>
</section>

<aae-top-nav [alias]="section.alias" [menu]="menu"></aae-top-nav>
