@import "../../colors"

.aae-page
  padding: 60px

  .aae-page-wrapper
    position: relative

.aae-page-sidebar
  position: fixed
  top: 0
  left: 0
  width: 0
  height: 100%
  overflow: hidden
  background-color: $black-opacity-8
  display: flex
  align-items: center
  justify-content: center
  opacity: 0
  z-index: 900
  -webkit-transition: all 250ms ease-out
  -moz-transition: all 250ms ease-out
  -o-transition: all 250ms ease-out
  transition: all 250ms ease-out

  &.aae-page-sidebar-show
    opacity: 1
    width: 100%

.aae-page-border-top,
.aae-page-border-right,
.aae-page-border-bottom,
.aae-page-border-left
  position: fixed
  background-color: #222222
  z-index: 1000
  display: flex
  align-items: center

.aae-page-border-top-title,
.aae-page-border-top-social,
.aae-page-border-bottom-copyright,
.aae-page-border-left-menu
  display: none

  a
    color: $white
    text-decoration: none
    -webkit-transition: all 250ms ease-out
    -moz-transition: all 250ms ease-out
    -o-transition: all 250ms ease-out
    transition: all 250ms ease-out

    &:hover,
    &:active
      color: $primary-light


.aae-page-border-top
  top: 0
  right: 0
  left: 0
  width: 100%
  height: 60px
  justify-content: space-between

  .aae-page-border-top-title
    padding-left: 60px

  .aae-page-border-top-social
    padding-right: 60px

    a
      margin-left: 10px

  &.aae-page-border-show
    .aae-page-border-top-title,
    .aae-page-border-top-social
      display: inherit

.aae-page-border-right
  top: 0
  right: 0
  bottom: 0
  width: 60px
  height: 100%

.aae-page-border-bottom
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 60px
  justify-content: flex-end

  .aae-page-border-bottom-copyright
    padding-right: 60px
    text-transform: uppercase
    font-size: 12px
    font-weight: 300
    letter-spacing: 1px
    color: $white
    opacity: 0.5

  &.aae-page-border-show
    .aae-page-border-bottom-copyright
      display: inherit

.aae-page-border-left
  top: 0
  bottom: 0
  left: 0
  width: 60px
  height: 100%
  justify-content: center

  .aae-page-border-left-menu
    color: $white
    font-size: 21px
    cursor: pointer

  &.aae-page-border-show
    .aae-page-border-left-menu
      display: inherit
