<!-- Header -->
<app-header [page]="page" [title]="title"></app-header>

<!-- Menu -->
<app-menu [menu]="menu" [page]="page"></app-menu>

<!-- Breadcrumbs -->
<app-breadcrumbs
  *ngIf="page !== 'main'"
  [page]="page" [title]="title" [alias]="alias"
  [articleTitle]="articleTitle"
></app-breadcrumbs>

<!-- Pages ================================================================= -->

<!-- Main page -->
<app-main      *ngIf="type === 'main'"></app-main>

<!-- About page -->
<app-content   *ngIf="type === 'about'"     [page]="page"></app-content>
<app-article   *ngIf="type === 'about+'"    [article]="article"></app-article>

<!-- Articles page -->
<app-blog      *ngIf="type === 'articles'"  [page]="page"></app-blog>
<app-article   *ngIf="type === 'articles+'" [article]="article"></app-article>

<!-- Gallery page -->
<app-gallery   *ngIf="type === 'gallery'"   [page]="page"></app-gallery>
<app-album     *ngIf="type === 'gallery+'"  [page]="page" [alias]="alias"></app-album>

<!-- Rules page -->
<app-content   *ngIf="type === 'rules'"     [page]="page"></app-content>
<app-article   *ngIf="type === 'rules+'"    [article]="article"></app-article>

<!-- Form page -->
<app-form      *ngIf="type === 'form'"></app-form>

<!-- Not Found page -->
<app-not-found *ngIf="type === '404'"></app-not-found>

<!-- ======================================================================= -->

<!-- Call to Journey -->
<app-call [page]="page"></app-call>

<!-- Footer -->
<app-footer [page]="page"></app-footer>
