<!-- Header ================================================================ -->
<app-header [section]="section"></app-header>

<!-- Menu ================================================================== -->
<app-menu [name]="section.name"></app-menu>

<!-- Breadcrumbs =========================================================== -->
<app-breadcrumbs *ngIf="section.name !== 'main'" [section]="section" [subsection]="subsection"></app-breadcrumbs>

<!-- Top =================================================================== -->
<app-top *ngIf="section.name !== 'main'" [section]="section" [subName]="subsection.name"></app-top>

<!-- Pages ================================================================= -->
<app-main *ngIf="section.name === 'main'"></app-main>
<app-form *ngIf="section.name === 'form'"></app-form>
<app-not-found *ngIf="section.name === '404'"></app-not-found>
<app-content *ngIf="section.name === 'about' && subsection.alias === ''" [alias]="section.alias"></app-content>
<app-blog *ngIf="(section.name === 'articles' && subsection.alias === '') || (section.name === 'news' && subsection.alias === '')" [alias]="section.alias"></app-blog>
<app-article *ngIf="(section.name === 'about' && subsection.alias) || (section.name === 'articles' && subsection.alias) || (section.name === 'news' && subsection.alias)" [alias]="section.alias" [subAlias]="subsection.alias"></app-article>
<app-gallery *ngIf="section.name === 'gallery' && subsection.alias === ''"></app-gallery>
<app-album *ngIf="section.name === 'gallery' && subsection.alias" [subAlias]="subsection.alias"></app-album>

<!-- Call ================================================================== -->
<app-call [alias]="section.alias"></app-call>

<!-- Footer ================================================================ -->
<app-footer [alias]="section.alias"></app-footer>
