@import "../../variables"

+keyframes(circle-down)
  0%
    top: 0px
  10%
    top: 4px
  20%
    top: 0px
  30%
    top: 4px
  40%
    top: 0px
  100%
    top: 0px

section
  padding: 60px

  &.main
    padding: 0

  .wrapper
    position: relative

    .down
      +opacity(0.9)
      position: absolute
      text-align: center
      width: 100%
      z-index: z('down-a')

      .down-wrapper
        display: inline-block
        width: 55px
        height: 55px

        span
          +font-size(0px)
          +flex
          +animation('circle-down 4s linear infinite')
          position: relative
          cursor: pointer
          border-radius: 100%
          line-height: 0
          width: 55px
          height: 55px
          z-index: z('down-b')

          i
            +font-size(34px)
            +transition(all .25s ease-out)
            position: relative
            color: $white
            line-height: 42px
            z-index: z('down-c')

          &:hover i,
          &:active i
            color: $primary

.sidebar
  +transition(all .5s ease-out)
  +opacity(0)
  +flex
  position: fixed
  top: 0
  left: 0
  background-color: $white
  overflow: hidden
  width: 0
  height: 100%
  z-index: z('sidebar')

  &.sidebar-show
    +opacity(1)
    width: 100%
