@import "../../colors"
@import "../../variables"

.aae-page
  padding: 60px

  &.aae-page-main
    padding: 0
  
  .aae-page-wrapper
    position: relative

    .aae-page-down
      position: absolute
      text-align: center
      width: 100%
      z-index: 50
      opacity: 0.9

      .aae-page-down-wrapper
        display: inline-block
        width: 55px
        height: 55px

        span
          cursor: pointer
          position: relative
          width: 55px
          height: 55px
          font-size: 0
          line-height: 0
          border-radius: 100%
          display: flex
          align-items: center
          justify-content: center
          /* Safari 4.0 - 8.0 */
          -webkit-animation-name: circle-down
          -webkit-animation-duration: 4s
          -webkit-animation-timing-function: linear
          // -webkit-animation-delay: 2s
          -webkit-animation-iteration-count: infinite
          // -webkit-animation-direction: alternate
          /* Standard syntax */
          animation-name: circle-down
          animation-duration: 4s
          animation-timing-function: linear
          // animation-delay: 2s
          animation-iteration-count: infinite
          // animation-direction: alternate
          z-index: 60

          i
            color: $white
            position: relative
            z-index: 70
            line-height: 42px
            font-size: 34px
            -webkit-transition: all 250ms ease-out
            -moz-transition: all 250ms ease-out
            -o-transition: all 250ms ease-out
            transition: all 250ms ease-out

          &:hover i,
          &:active i
            color: $primary

.aae-page-sidebar
  position: fixed
  top: 0
  left: 0
  width: 0
  height: 100%
  overflow: hidden
  background-color: $white
  display: flex
  align-items: center
  justify-content: center
  opacity: 0
  z-index: 90
  -webkit-transition: all 500ms ease-out
  -moz-transition: all 500ms ease-out
  -o-transition: all 500ms ease-out
  transition: all 500ms ease-out

  &.aae-page-sidebar-show
    opacity: 1
    width: 100%

.aae-page-border-top,
.aae-page-border-right,
.aae-page-border-bottom,
.aae-page-border-left
  position: fixed
  background-color: $secondary-dark 
  z-index: 100
  display: flex
  align-items: center

.aae-page-border-top-title,
.aae-page-border-top-social,
.aae-page-border-bottom-copyright,
.aae-page-border-left-menu
  display: none

  a
    color: $white
    text-decoration: none
    -webkit-transition: all 250ms ease-out
    -moz-transition: all 250ms ease-out
    -o-transition: all 250ms ease-out
    transition: all 250ms ease-out

    &:hover,
    &:active
      color: $primary-light


.aae-page-border-top
  top: 0
  right: 0
  left: 0
  width: 100%
  height: 60px
  justify-content: space-between

  .aae-page-border-top-title
    padding-left: 60px

  .aae-page-border-top-social
    padding-right: 60px

    a
      margin-left: 15px

  &.aae-page-border-show
    .aae-page-border-top-title,
    .aae-page-border-top-social
      display: inherit

.aae-page-border-right
  top: 0
  right: 0
  bottom: 0
  width: 60px
  height: 100%

.aae-page-border-bottom
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 60px
  justify-content: flex-end

  .aae-page-border-bottom-copyright
    padding-right: 60px
    text-transform: uppercase
    font-size: 12px
    font-weight: 300
    letter-spacing: 1px
    color: $white
    opacity: 0.5

    i
      font-size: 10px
      margin: 0 5px
      position: relative
      top: 1px

  &.aae-page-border-show
    .aae-page-border-bottom-copyright
      display: inherit

.aae-page-border-left
  top: 0
  bottom: 0
  left: 0
  width: 60px
  height: 100%
  justify-content: center

  .aae-page-border-left-menu
    color: $white
    font-size: 21px
    cursor: pointer
    -webkit-transition: all 250ms ease-out
    -moz-transition: all 250ms ease-out
    -o-transition: all 250ms ease-out
    transition: all 250ms ease-out

    &:hover,
    &:active
      color: $primary-light

    div
      position: relative

      span
        position: absolute
        top: -63px
        left: -31px
        transform: rotate(-90deg)
        text-transform: uppercase
        font-weight: 100
        letter-spacing: 2px
        font-size: 24px

  &.aae-page-border-show
    .aae-page-border-left-menu
      display: inherit

/* Safari 4.0 - 8.0 */
@-webkit-keyframes circle-down
  0%   
    top: 0px
  10%  
    top: 4px
  20%  
    top: 0px
  30%  
    top: 4px
  40% 
    top: 0px
  100%
    top: 0px

/* Standard syntax */
@keyframes circle-down
  0%   
    top: 0px
  10%  
    top: 4px
  20%  
    top: 0px
  30%  
    top: 4px
  40% 
    top: 0px
  100%
    top: 0px
