<section *ngIf="text">

  <div class="wrapper" [ngClass]="{right: text.type === 'right', left: text.type === 'left'}">
    <div *ngIf="text.type === 'left'" class="content">
      <div [innerHtml]="text.content"></div>
    </div>
    <div class="img-wrapper">
      <div class="img-bg"></div>
      <div class="img" [ngStyle]="{'background-image': 'url(/pages-photos/main-' + text.img + '.jpg)'}"></div>
    </div>
    <div *ngIf="text.type === 'right'" class="content">
      <div [innerHtml]="text.content"></div>
    </div>
  </div>

</section>
