@import "../../../variables"

section
  .content
    color: $text
    position: relative
    +flex

    div
      text-align: center
      +font-size(27px)
      font-weight: 300
      line-height: 42px
