@import "../../../colors"
@import "../../../variables"

.aae-text
  .aae-text-content
    background-color: $secondary
    border: 1px solid $secondary-border
    color: $white
    position: relative
    padding: 200px 0
    display: -webkit-flex
    display: flex
    -webkit-justify-content: center
    justify-content: center
    -webkit-align-items: center
    align-items: center

    div
      width: 600px
      text-align: center
      font-size: 22px
      font-weight: 300
      line-height: 34px
    