<app-header></app-header>

<h1>
Российско-Крымская<br>
Экспедиция МПГУ
</h1>

<p>ласковое море, песчаные пляжи, ковыльные степи, южное солнце, новые друзья, замечательные впечатления, лекции ведущих ученых, докторов наук и аспирантов, лучшая археологическая школа, экскурсии, здоровый отдых &mdash; гарантируются!</p>

<p>Экспедиция образована Московским государственным педагогическим университетом &mdash; ведущим педвузом России</p>

<p>Экспедиция проводит научно-изыскательские работы по исследованию археологических памятников Боспорского царства в уникальном заповедном районе Крымского Приазовья &mdash; урочище Артезиан.</p>

<p>Артезиан славится заповедными живописными ландшафтами с широкими заросшими ковылем и другими степными травами пространствами, необычно извилистыми балками с родниками и водоемами, богатыми рыбой и дикой птицей, и конечно, уникальными археологическими памятниками &mdash; жемчужинами прибрежной зоны Крымского Приазовья.</p>

<p>Наиболее крупные городища &mdash; Артезиан и Багерово-Северное &mdash; мощные крепости, оберегавшие жизненно важные центры Боспорского царства от набегов воинственных кочевников &mdash; скифов и сарматов.</p>

<h2>
Приглашаем<br>
на наши раскопки
</h2>

<p>волонтеров, любителей истории и археологии, поклонников здорового образа жизни, желающих быстро сбросить лишние килограммы, веселых и жизнерадостных людей, увлеченных школьников, студентов и аспирантов</p>

<p>принимаем в наши ряды семьи, организованные группы, коллективы единомышленников и энтузиастов</p>

<h2>
Где мы<br>
находимся
</h2>

<p>регион проведения раскопок расположен в Восточном Крыму в 20 километрах от города Керчь</p>

<p>в двадцати минутах ходьбы от базового лагеря экспедиции находится поселок Чистополье и одноименная железнодорожная станция</p>

<iframe src="https://yandex.ua/map-widget/v1/?um=constructor%3A7836e5a80b9bbb238a604948290341d7f8f2f8034e54455e04a3afd3486c784d&amp;lang=ru_UA&amp;scroll=true&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>

<h2>
Коротко<br>
о раскопках
</h2>

<p>Во время полевого сезона проводятся раскопки большой царской крепости и её некрополя на четырех участках, занимающих площадь более 9000 кв.м.</p>
<p>На раскопах I-IV городища Артезиан — ведутся раскопки оборонительных башен, стен и рва Цитадели времени правления царей Асандра, Аспурга, Митридата и Котиса; на некрополе — изучение захоронений жителей крепости, склепов и грунтовых могил.</p>
<p>Специальная команда занимается раскопками колодцев, южных кварталов городища и помещений казарм времени Митридата Евпатора Диониса.</p>

<p>Участники экспедиции прослушивают курсы методики полевых исследований, обработки и реставрации находок, получают соответствующие сертификаты.</p>
<p>Кроме того, организуются экскурсии по археологическим памятникам Крымского Приазовья, археологическим, историческим и природным уникальным зонам и объектам Крыма.</p>
<p>Иногда проводятся дайвинг-работы в районе акватории Казантипского залива Азовского моря, около сел Нижне-Заморское и Золотое, связанные с поиском береговой полосы античного и средневекового времени, затопленного античного порта, гавани и древних судов.</p>

<p>В процессе раскопок с волонтерами будут находиться опытные бригадиры и инструктора, которые ответят на все возможные вопросы и научат их первичным археологическим навыкам и основам методики проведения археологических раскопок.</p>
<p>Во время пребывания в нашей экспедиции вы будете обеспечены четырехразовым питанием.</p>
<p>В состав экспедиции входят ученые, студенты, аспиранты, докторанты гуманитарных ВУЗов России и добровольцы. Атмосфера дружеская. Мы будем рады, если Вы к нам присоединитесь.</p>

<h2>
Когда<br>
мы работаем
</h2>

<p>
экспедиция работает в поле<br>
с 1 июня &mdash; 5 сентября
</p>

<p>постановщики экспедиционного лагеря приглашаются на две недели раньше начала работы</p>

<h2>Число добровольцев</h2>

<p>не ограничено (в лагере бывает до 150 человек)</p>
<p>особенно мы рады организованным группам</p>
<p>на нашей базе обеспечиваем проведение археологической практики любого уровня сложности</p>
<p>минимальное время пребывания в экспедиции — 1 неделя</p>

<img src="/assets/img/image-info-0003.png" alt="">

<img src="/assets/img/image-info-0004.png" alt="">

<h2>Опыт</h2>

<p>принимаются все желающие</p>
<p>волонтеры, имеющие опыт археологических раскопок, особо желанны и могут работать по специальности</p>
<p>художники, чертежники, топографы, геодезисты в приоритете</p>

<h2>Оборудование</h2>

<p>вы будете обеспечены всем необходимым археологическим оборудованием</p>
<p>необходимо с собой иметь палатку, туристический коврик, спальный мешок, рабочую одежду для раскопок, защиту от солнца и дождя, металлическую посуду, личную аптечку</p>
<p>с собой рекомендуется иметь крепкие кроссовки или ботинки, плащ-дождевик, кепку и очки от солнца, репеллент от насекомых, куртку и теплый свитер, так как ночи иногда бывают прохладными</p>

<img src="/assets/img/image-info-0005.png" alt="">

<h2>Руководитель</h2>

<p>Винокуров Николай Игоревич &mdash; доктор исторических наук, профессор, заведующий кафедрой истории древнего мира и средних веков исторического факультета МПГУ, член Экспертного совета по археологии, истории и смежным научным дисциплинам Совета Федерации РФ</p>

<h2>Кураторы</h2>
<p>Московский государственный педагогический университет (кафедра истории древнего мира и средник веков исторического факультета) при участии Группы физической антропологии Института Археологии РАН, биофака МГУ, МГУКИ</p>

<h2>Размещение</h2>

<p>В хорошо оборудованном палаточном полевом лагере, приспособленном для круглосуточного пребывания людей. Лагерь обеспечен артезианской водой, электричеством от эл/генераторов, кухней и столовой, вездеходным транспортом. Туалеты дачного типа.</p>

<p>Вас встретят на железнодорожном вокзале в Чистополье, доставят в полевой археологический лагерь и проведут краткий инструктаж. Встреча в Керчи или аэропорту г. Симферополя обговаривается отдельно.</p>

<p>На следующий день на раскопках пройдет ознакомительная лекция. После лекции под руководством опытного бригадира или инструктора Вы сможете приступить к раскопкам.</p>

<p>После окончания срока пребывания в экспедиции, Вас доставят на вокзал Чистополья. Доставка до г. Керчь или аэропорт г. Симферополя обговаривается отдельно.</p>

<h2>Обратите внимание</h2>

<p>Пребывание в лагере и работа на раскопе требуют некоторой физической стойкости. Полевые условия являются основными и Вам нужно быть готовым быстро приспособиться к такому образу жизни. Все это восполняется тем, что для добровольца жизнь в экспедиции — активный физический отдых, полноценное изучение окружающей среды, истории и древних артефактов, обретение новых друзей и расширение круга знакомых.</p>
<p>Тем, кто любит приключения, необычные условия, кто любит проверять себя в разных жизненных обстоятельствах, кто любит общение, море, тепло, фрукты, историю и любопытствует по поводу археологии, антропологии и этнологии, у нас будет очень интересно и познвательно. В экспедиции вы получите новые впечатления и замечательные эмоции.</p>

<h2>Стоимость пребывания</h2>

<p>Организованным группам школьников — 1500 руб с человека в день, независимо от срока пребывания. Руководитель или организатор группы бесплатно (один руководитель на группу до 15 чел, 2 — на 15-20 чел).</p>
<p>Ориентировочная цена для волонтеров (постсоветское пространство) — 1500 руб в день.</p>
<p>Волонтерам, которые едут к нам не в первый раз, скидка 10%.</p>
<p>Для иностранных волонтеров — 50 евро в день независимо от срока пребывания.</p>
<p>Все цены даны без оплаты проезда, визовой поддержки и оплаты экскурсий.</p>
<p>* Добровольный взнос за неиспользованные дни не возвращается в случае отъезда до истечения срока пребывания в экспедиции (за исключением болезни, требующей госпитализации, подтвержденной соответствующими документами).</p>

<h2>Внимание</h2>

<p>Экспедиция не является бюро путешествий или агентом путешествий.</p>
<p>Чтобы гарантировать ваше успешное участие в археологической экспедиции, рекомендуем Вам самостоятельно узнать о стране, туристических визах, страховании здоровья, местной валюте, таможне, местных традициях и т. д., организовать визовую поддержку и дорогу в экспедицию (по возможности мы, конечно, постараемся помочь с решением этих задач).</p>
<p>Участие в экспедиции организованных групп обсуждается отдельно с руководством проекта. Для организованных групп предусмотрена гибкая система скидок.</p>
<p>Пишите на адрес: mail@archae-found.org</p>

<img src="/assets/img/image-info-0006.jpg">

<h2>Статьи</h2>

<p><a href="#">Бытовые условия экспедиции</a></p>
<p><a href="#">История образования ААЭ</a></p>
<p><a href="#">Базовые и научные цели и задачи</a></p>
<p><a href="#">Научные исследования</a></p>
<p><a href="#">Основные направления деятельности ААЭ</a></p>

<p>Если же Вы не представляете свою жизнь без археологии, степного ветра, до сих пор несущего отзвуки древних событий, без звёздных крымских ночей, ласкового Азовского моря, то раздел «Присоединиться» – для Вас. Здесь Вы можете оставить электронную заявку, которая забронирует за Вами место в археологическом лагере, ознакомиться со списком необходимых документов, проверить все ли вещи Вы подготовили для путешествия и прочитать наши правила. Кроме того, и для тех, кто не читал, и для тех, кто читал – «здо­ровен­ная, кру­тая, ме­дицинс­кая статья про экс­пе­дицию - Доктор об экспедиции».</p>

<app-footer></app-footer>
