@import "../../../variables"

section
  position: relative
  margin: 150px 0 250px

  .pattern
    position: absolute
    bottom: 0
    right: 0
    height: 1000px
    width: 856px
    background: url("/assets/img/pattern-1.png") right bottom no-repeat
    opacity: .05
    z-index: 10

  .wrapper
    background-color: $article-bg
    margin: 100px auto
    padding: 100px
    width: 600px
    position: relative
    z-index: 20
