@import "../../../colors"

section
  position: relative
  padding: 0 0 200px 0

  .aae-article-pattern
    position: absolute
    bottom: 0
    right: 0
    height: 1000px
    width: 856px
    background: url("/assets/img/pattern_1.png") right bottom no-repeat
    opacity: .05

  .aae-article-intro
    margin: 50px 0 0 0
