@import "../../../colors"

section
  background: url("../../../assets/img/bg_main.jpg") center center / cover no-repeat
  min-height: 100vh
  position: relative
  z-index: 10
  display: -webkit-flex
  display: flex
  -webkit-justify-content: center
  justify-content: center
  -webkit-align-items: center
  align-items: center

  .aae-color-mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 20
    opacity: .7

    background: $blue-grey-900
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $blue-grey-900), color-stop(100%, $grey-900))
    background: -webkit-linear-gradient(top, $blue-grey-900 0%, $grey-900 100%)
    background: -moz-linear-gradient(top,    $blue-grey-900 0%, $grey-900 100%)
    background: -ms-linear-gradient(top,     $blue-grey-900 0%, $grey-900 100%)
    background: -o-linear-gradient(top,      $blue-grey-900 0%, $grey-900 100%)
    background: linear-gradient(to bottom,   $blue-grey-900 0%, $grey-900 100%)

  .aae-main-content
    max-width: 1200px
    z-index: 30
    color: $white
    text-align: center

    h1
      font-weight: 900
      font-size: 90px
      text-transform: uppercase
      margin: 0 0 30px
      line-height: 100px
      margin-top: 70px

      span
        color: $primary

    h2
      font-weight: 300
      font-size: 16px
      text-transform: lowercase
      letter-spacing: 1px
      margin-bottom: 20px

    .aae-main-page-buttons
      display: -webkit-flex
      display: flex
      -webkit-justify-content: center
      justify-content: center

      div
        background-color: $white
        color: $grey-900
        cursor: pointer
        padding: 10px 15px
        border-radius: 3px
        margin: 20px 20px
        font-size: 20px
        font-weight: 400
        text-transform: uppercase
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out
        opacity: .8

        &:hover, &:active
          background-color: $primary
          color: $white
          opacity: 1
