<section class="aae-breadcrumbs">
  <div class="aae-header-wrapper">
    
    <div class="aae-breadcrumbs-wrapper">

      <div class="aae-breadcrumbs-item">
        <a routerLink="/" class="aae-breadcrumbs-main">Главная</a>
      </div>

      <div class="aae-breadcrumbs-item">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>

      <div class="aae-breadcrumbs-item">
        <a routerLink="/{{ section.alias }}/" class="aae-breadcrumbs-name">{{ section.name }}</a>
      </div>

      <div *ngIf="subname" class="aae-breadcrumbs-item">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>

      <div *ngIf="subname" class="aae-breadcrumbs-item">
        <span class="aae-breadcrumbs-subname">{{ subname }}</span>
      </div>

    </div>

  </div>
</section>
