@import "../../../colors"

.aae-breadcrumbs
  position: absolute
  top: 195px
  left: 0
  right: 0
  height: 19px
  z-index: 30
  padding: 10px 0
  background-color: $black-opacity-2

  .aae-breadcrumbs-wrapper
    font-size: 16px
    text-transform: uppercase
    font-weight: 700
    position: relative
    left: -5px
    padding: 0
    margin: 0
    color: $white
    display: flex
    justify-content: flex-start
    align-items: flex-start

    .aae-breadcrumbs-item
      margin: 0 5px

      a,
      .aae-breadcrumbs-subname
        font-size: 14px

      a
        color: $primary-light
        text-decoration: none

        &:hover,
        &:active
          border-bottom: 1px solid $primary

      .aae-breadcrumbs-subname
        font-weight: 400
