<section>
  <div class="wrapper">

    <div class="content">

      <div class="item">
        <a routerLink="/" class="main">Главная</a>
      </div>

      <div class="item">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>

      <div class="item">
        <a routerLink="/{{ section.alias }}/" class="name">{{ section.name }}</a>
      </div>

      <div *ngIf="subname" class="item">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>

      <div *ngIf="subname" class="item">
        <span class="subname">{{ subname }}</span>
      </div>

    </div>

  </div>
</section>
