@import "../../../variables"

section
  position: relative
  width: 100%
  padding: 13px 0 10px
  background-color: $breadcrumbs-bg
  z-index: z('breadcrumbs')

  .wrapper
    width: 100%
    max-width: 1400px
    margin: 0 auto

    .content
      +font-size(14px)
      text-transform: uppercase
      font-weight: 500
      position: relative
      left: -5px
      padding: 0 60px
      margin: 0
      color: $breadcrumbs-content
      +flex(flex-start)

      .item
        margin: 0 5px

        a
          color: $breadcrumbs-item
          text-decoration: none

          &:hover,
          &:active
            color: $breadcrumbs-item-hv

        .subname
          font-weight: 400
          display: block
          overflow: hidden
          height: 15px
          padding: 1px 0 0 0
          +font-size(12px)
          line-height: 15px

    .overlay
      position: absolute
      top: 0
      right: 65px
      width: 100px
      height: 100%
      background: $white-opacity-5
      background: -webkit-linear-gradient( left, $white-opacity-0, $white)
      background: -moz-linear-gradient(to right, $white-opacity-0, $white)
      background: -o-linear-gradient(to right,   $white-opacity-0, $white)
      background: linear-gradient(to right,      $white-opacity-0, $white)
