section
  // display: -webkit-flex
  // display: flex
  // -webkit-justify-content: space-between
  // justify-content: space-between
  // -webkit-align-items: center
  // align-items: center
  text-align: center
  background-color: #bf360c
  padding: 100px
  font-size: 60px
  font-weight: 100

  .aae-call-text
    p
      color: #fff

  .aae-button-text
    button
      font-size: 16px
      font-weight: 600
      color: #bf360c
      padding: 10px 25px
