@import "../../../colors"
@import "../../../variables"

.aae-gallery
  background-color: $white
  position: relative

  .aae-gallery-wrapper
    margin: $wrapper-margin auto
    padding: 0 $wrapper-padding
    width: $wrapper-width-wide
    display: flex
    flex-flow: row wrap
    justify-content: space-between

    .aae-gallery-container
      width: 280px
      margin-bottom: 50px
      padding-bottom: 50px

      .aae-gallery-img-wrapper
        a
          width: 280px
          height: 280px
          display: block
          background-position: center center
          background-size: cover
          border: none
          overflow: none
          text-decoration: none
          font-size: 0
          line-height: 0