@import "../../../variables"

section
  position: relative
  background-color: $gallery-bg

  .wrapper
    +flex(center, center, wrap)
    padding: 100px
    margin: 0 auto

    .container
      padding-bottom: 50px
      margin: 20px
      width: 280px

      .image
        position: relative
        width: 280px
        height: 280px

        a
          +font-size(0px)
          position: absolute
          top: 0
          left: 0
          background-position: center center
          background-size: cover
          border: none
          line-height: 0
          outline: none
          width: 280px
          height: 280px
          text-decoration: none

          &.img
            z-index: z('img')

          &.info
            +font-size(14px)
            +transition(all .25s ease-out)
            +opacity(0)
            background-color: $gallery-info-bg
            color: $gallery-info
            padding: 20px
            line-height: 17px
            overflow: hidden
            width: 240px
            height: 240px
            z-index: z('gallery')

            &:hover,
            &:active
              +opacity(1)

      .name
        text-align: center

        a
          font-weight: 500
          color: $gallery-name
          text-decoration: none

          &:hover,
          &:active
            color: $gallery-name-hv
