<section *ngIf="galleries" class="aae-gallery">

  <div class="aae-main-wrapper-wide flex-container">

    <div *ngFor="let gallery of galleries" class="aae-gallery-container">
			<div class="aae-gallery-img-wrapper">
				<a routerLink="/gallery/{{ gallery.id }}" [ngStyle]="{'background-image': 'url(assets/img/gallery/' + gallery.id + '/pics/' + gallery.image_id + '.jpg)'}"></a>
			</div>
			<p><a routerLink="/gallery/{{ gallery.id }}" [innerHtml]="gallery.name"></a></p>
			<p [innerHtml]="gallery.info"></p>
    </div>

	</div>
	
</section>
