<section class="aae-blog-item" [class.aae-selected]="blogItem.id % 2 === 0">
  <div class="aae-main-wrapper-wide">

    <div class="aae-intro-img-block">

      <div class="aae-intro-img">
        <img src="/assets/img/articles/{{ blogItem.id }}.jpg" alt="">
      </div>

      <div class="aae-intro-img-gradient"></div>

      <h2>

        <a routerLink="/{{ alias }}/{{ blogItem.alias }}" [innerHtml]="blogItem.title"></a>

        <p class="aae-read-more">подробнее...</p>

      </h2>

    </div>

    <div class="aae-intro-content">

      <div [innerHtml]="blogItem.intro"></div>

    </div>

  </div>
</section>
