<section *ngIf="alias !== 'main'" class="aae-footer">

  <div class="aae-footer-row top">

    <div class="aae-footer-map"></div>

    <div class="aae-main-wrapper-wide aae-footer-wrapper">

      <div class="aae-popular-articles">
        <h3>Популярные статьи</h3>
        <ul>
          <li><a href="#">Артезианская Археологическая Экспедиция</a></li>
          <li><a href="#">Бытовые условия экспедиции</a></li>
          <li><a href="#">История образования Артезианской Археологической Экспедиции (ААЭ)</a></li>
          <li><a href="#">Базовые цели и задачи</a></li>
          <li><a href="#">Научные цели и задачи Артезианской Археологической Экспедиции</a></li>
        </ul>
      </div>

      <div class="aae-contact">
        <h3>Контакты</h3>
        <p><span class="aae-contact-name">звоните:</span> +7 (987) 654-32-10</p>
        <p><span class="aae-contact-name">пишите:</span> mail@artezian.info</p>
        <h3>Сообщества</h3>
        <p><a href="#"><span class="aae-social-icon"><i class="fa fa-vk" aria-hidden="true"></i></span> Вконтакте</a></p>
        <p><a href="#"><span class="aae-social-icon"><i class="fa fa-instagram" aria-hidden="true"></i></span> Instagram</a></p>
      </div>

    </div>

  </div>

  <div class="aae-footer-row bottom">
    <div class="aae-main-wrapper-wide aae-footer-wrapper">

      <div class="copyright">
        <p>2017 <i class="fa fa-copyright" aria-hidden="true"></i> ААЭ. Все права защищены.</p>
      </div>

    </div>
  </div>

</section>
