@import "../../../variables"

section
  color: $footer

  .map
    position: absolute
    top: -5%
    left: -5%
    width: 110%
    height: 110%
    background: url("/assets/img/map.png") center center / contain no-repeat
    z-index: z('map')
    +opacity(0.1)

  .top
    position: relative
    overflow: hidden
    background-color: $footer-bg

    .wrapper
      margin: 200px auto
      padding: 100px
      width: 900px
      position: relative
      +flex(space-between, flex-start)
      z-index: z('footer-wrapper')

      a
        color: $footer-color
        +transition(all .25s ease-out)
        text-decoration: none

        &:hover,
        &:active
          color: $footer-hv
          text-shadow: $footer-ts

      h3
        color: $footer-h3
        padding: 15px 0 0 0
        letter-spacing: 0.5px
        text-transform: uppercase
        font-weight: 500

      .articles
        padding: 0 20px
        width: 60%

        ul
          padding: 0
          margin: 0

          li
            +font-size(16px)
            list-style: none
            padding: 5px 20% 5px 0
            line-height: 19px
            margin: 10px 0

      .contact
        width: 35%

        p
          color: $contact

          .name
            font-weight: 600
            display: inline-block
            margin: 0 5px 0 0

          .social
            width: 22px
            text-align: center
            display: inline-block
            margin: 0 5px 0 0

  .bottom
    padding: 50px 0
    text-align: center
    background-color: $footer-bottom-bg
