@import "../../../variables"

section
  color: $footer

  .map
    +opacity(0.1)
    position: absolute
    top: -5%
    left: -5%
    background: url("/assets/img/map.png") center center / contain no-repeat
    width: 110%
    height: 110%
    z-index: z('map')

  .top
    position: relative
    background-color: $footer-bg
    overflow: hidden

    .wrapper
      +flex(space-between, flex-start)
      position: relative
      padding: 100px
      margin: 200px auto
      width: 900px
      z-index: z('footer-wrapper')

      a
        +transition(all .25s ease-out)
        color: $footer-color
        text-decoration: none

        &:hover,
        &:active
          color: $footer-hv

      h3
        font-weight: 500
        color: $footer-h3
        padding: 15px 0 0 0
        letter-spacing: 0.5px
        text-transform: uppercase

      .articles
        padding: 0 20px
        width: 60%

        ul
          padding: 0
          margin: 0

          li
            +font-size(16px)
            padding: 5px 20% 5px 0
            margin: 10px 0
            line-height: 19px
            list-style: none

      .contact
        width: 35%

        p
          color: $contact

          .name
            display: inline-block
            font-weight: 600
            margin: 0 5px 0 0

          .social
            display: inline-block
            margin: 0 5px 0 0
            text-align: center
            width: 22px

  .bottom
    background-color: $footer-bottom-bg
    padding: 50px 0
    text-align: center

    .copyright
      a
        +transition(all 0.25s ease-out)
        font-weight: 500
        color: $footer-copyright
        text-decoration: none

        &:hover,
        &:active
          color: $footer-copyright-hv
