@import "../../../colors"
@import "../../../variables"

.aae-blog-item
  .aae-blog-item-img-block
    position: relative
    font-size: 0
    line-height: 0

    .aae-blog-item-img
      position: relative
      width: 100%
      z-index: 10

      a
        outline: none
        border: none
        text-decoration: none

        img
          width: 100%

  .aae-blog-item-content-block
    background-color: $grey-100
    padding: 75px 40px 100px
    font-size: 18px
    font-weight: 300
    line-height: 1.5

    h2
      margin: 0 0 40px 0
      text-align: center

      a
        z-index: 20
        color: $grey-900
        text-decoration: none
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          color: $primary

    .aae-blog-item-content-text
      width: 500px
      margin: 0 auto
      font-size: 16px

    .aae-blog-item-read-more
      text-align: center
      padding-top: 35px

      a
        display: inline-block
        padding: 10px 30px
        border: 2px solid $blue-grey-600
        color: $blue-grey-700
        border-radius: 3px
        text-decoration: none
        font-weight: 500
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          background-color: $blue-grey-700
          border-color: $blue-grey-700
          color: $white
