<section *ngIf="blogItem" [class.aae-selected]="blogItem.id % 2 === 0">

  <div class="image">

    <div class="img">
      <a routerLink="/{{ alias }}/{{ blogItem.id }}">
        <img src="http://artezian.zone/articles/{{ blogItem.id }}.jpg" alt="">
      </a>
    </div>

  </div>

  <div class="content">

    <h2><a routerLink="/{{ alias }}/{{ blogItem.id }}" [innerHtml]="blogItem.title"></a></h2>

    <div class="text" [innerHtml]="blogItem.intro"></div>

    <p class="read-more">
      <a routerLink="/{{ alias }}/{{ blogItem.id }}">подробнее</a>
    </p>

  </div>

</section>
