@import "../../../colors"

section
  position: absolute
  top: 0
  left: 0
  right: 0
  z-index: 30
  padding: 50px 0 0
  background-color: transparent

  .aae-header-wrapper
    .aae-header-row
      display: -webkit-flex
      display: flex
      -webkit-justify-content: space-between
      justify-content: space-between
      -webkit-align-items: center
      align-items: center

      .aae-title
        display: -webkit-flex
        display: flex
        -webkit-justify-content: space-between
        justify-content: space-between
        -webkit-align-items: center
        align-items: center
        color: $white
        letter-spacing: -2px

        .aae-main-title
          font-size: 70px
          font-weight: 900
          cursor: pointer
          -webkit-transition: all 250ms ease-out
          -moz-transition: all 250ms ease-out
          -o-transition: all 250ms ease-out
          transition: all 250ms ease-out
          color: $white

          &:hover,
          &:active
            color: $primary

        .aae-divider
          font-size: 30px
          font-weight: 400
          padding: 0 10px

        .aae-full-name
          display: none

        .aae-page-title
          font-size: 70px
          font-weight: 700
          color: $white

        span
          font-weight: 900
          font-size: 40px
          text-transform: uppercase

      .aae-form
        text-transform: uppercase
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out
        font-weight: 600
        cursor: pointer
        color: $white
        border: 1px solid $white
        padding: 10px 15px
        border-radius: 2px

        &:hover,
        &:active
          color: $primary
          background-color: $white

  &.main
    background-color: transparent
    border-bottom: none

    .aae-header-wrapper
      background-color: transparent

      .aae-header-row
        .aae-title
          color: $white

          .aae-main-title
            color: $white

            &:hover,
            &:active
              color: $primary

          .aae-full-name
            display: inherit
            font-size: 20px
            font-weight: 400
            letter-spacing: 0

          .aae-page-title
            display: none

        .aae-form
          background-color: transparent
          border: 2px solid $white
          color: $white
          font-weight: 600

          &:hover,
          &:active
            color: $primary
            background-color: $white
            border-color: $white

// @media (max-width: 1023px)
//   .wide
//     display: none

//   .narrow
//     display: block

// @media (min-width: 1024px)
//   .wide
//     display: block

//   .narrow
//     display: none
