section.aae-header-section
  padding: 50px 0 0
  border-bottom: 1px solid

  .aae-header-wrapper
    background-color: rgba(255, 255, 255, 0.5)

    .aae-header-row
      display: -webkit-flex
      display: flex
      -webkit-justify-content: space-between
      justify-content: space-between
      -webkit-align-items: center
      align-items: center

      .aae-title
        display: -webkit-flex
        display: flex
        -webkit-justify-content: space-between
        justify-content: space-between
        -webkit-align-items: center
        align-items: center

        .aae-main-title
          font-size: 60px
          font-weight: 900
          cursor: pointer
          -webkit-transition: all 250ms ease-out
          -moz-transition: all 250ms ease-out
          -o-transition: all 250ms ease-out
          transition: all 250ms ease-out

        .aae-divider
          font-size: 30px
          font-weight: 400
          padding: 0 10px

        .aae-full-name
          display: none

        .aae-page-title
          font-size: 60px
          font-weight: 900

        span
          font-weight: 900
          font-size: 40px
          text-transform: uppercase

      .aae-form
        text-transform: uppercase
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          border: none

      .aae-social
        position: relative
        right: -5px

        a
          padding: 0 5px
          -webkit-transition: all 250ms ease-out
          -moz-transition: all 250ms ease-out
          -o-transition: all 250ms ease-out
          transition: all 250ms ease-out

          i
            font-size: 16px
            font-weight: 400

  &.main
    border-bottom: none
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: 30

    .aae-header-wrapper
      background: transparent

      .aae-header-row
        .aae-title
          .aae-full-name
            display: inherit
            font-size: 20px
            font-weight: 400

          .aae-page-title
            display: none

// @media (max-width: 1023px)
//   .wide
//     display: none

//   .narrow
//     display: block

// @media (min-width: 1024px)
//   .wide
//     display: block

//   .narrow
//     display: none
