<nav>
  <div class="columns">
    <div class="column">
      <div class="content has-text-left">
        <a class="button is-white" (click)="onSelect()">
          <span class="icon">
            <i class="fa" [ngClass]="menuSelected ? 'fa-times' : 'fa-bars'"></i>
          </span>
          <span>меню</span>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="content has-text-centered">
        <div *ngIf="!menuSelected">
          <a routerLink="/intro" class="button is-white">Артезианская Археологическая Экспедиция</a>
        </div>
        <div *ngIf="menuSelected">
          <app-nav></app-nav>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="content has-text-right">
        <a routerLink="/application" class="button is-white">подать заявку</a>
      </div>
    </div>
  </div>
</nav>
