<section class="aae-header-section" [class.main]="page === 'main'">
  <div class="aae-header-wrapper">

    <div class="aae-header-row">

      <div class="aae-title">
        <span class="aae-main-title" routerLink="/">ААЭ</span>
        <span class="aae-divider"> | </span>
        <span class="aae-full-name">Российско-Крымская<br>экспедиция МПГУ</span>
        <span class="aae-page-title" [innerHtml]="title"></span>
      </div>

      <div routerLink="/form" class="aae-form">Подать заявку</div>

    </div>

  </div>
</section>
