<div class="columns">
  <div class="column">
    <div class="content has-text-left" (click)="onSelect()">
      <button class="button is-white">меню</button>
    </div>
  </div>
  <div class="column">
    <div class="content has-text-centered">
      <div *ngIf="menuSelected">
        <app-nav></app-nav>
      </div>
      <div *ngIf="!menuSelected">
        <a routerLink="/intro" class="button is-white">Артезианская Археологическая Экспедиция</a>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="content has-text-right">
      <a routerLink="/application" class="button is-white">подать заявку</a>
    </div>
  </div>
</div>
