<section class="aae-form-section">

  <div class="aae-content-header">

    <div class="aae-content-header-img">
      <img src="/assets/img/pages/form.jpg" alt="">
    </div>

    <div class="aae-content-header-img-gradient"></div>

    <div class="aae-content-header-text">
      <div class="aae-header-wrapper">
        <h1>Электронная заявка</h1>
        <h2>для участия в Артезианской Археологической Экспедиции (ААЭ)</h2>
      </div>
    </div>

  </div>

  <div class="aae-main-wrapper-narrow">

    <p>Если Вы желаете принять участие в Артезианской Археологической Экспедиции, пожалуйста, заполните все основные разделы и нажмите кнопку «Отправить» внизу страницы.</p>
    <p>Данная электронная заявка обеспечивает резервирование за Вами места в ААЭ.</p>
    <p>Перед заполнением заявки внимательно прочитайте разделы «Список документов для участников археологической экспедиции», «Примерный список вещей для экспедиции» и «Правила поведения в экспедиции»</p>
    <p>Поля, перед которыми стоят "галочки" (  ) – обязательны к заполнению!</p>

  </div>

</section>
