<section class="aae-form-section">

  <div class="aae-content-header">

    <div class="aae-content-header-img">
      <img src="/assets/img/pages/form.jpg" alt="">
    </div>

    <div class="aae-content-header-img-gradient"></div>

    <div class="aae-content-header-text">
      <div class="aae-header-wrapper">
        <h1>Электронная заявка</h1>
        <h2>для участия в Артезианской Археологической Экспедиции (ААЭ)</h2>
      </div>
    </div>

  </div>

  <div class="aae-main-wrapper-narrow">

    <p>Если Вы желаете принять участие в Артезианской Археологической Экспедиции, пожалуйста, заполните все основные разделы и нажмите кнопку «Отправить» внизу страницы.</p>
    <p>Данная электронная заявка обеспечивает резервирование за Вами места в ААЭ.</p>
    <p>Перед заполнением заявки внимательно прочитайте разделы «Список документов для участников археологической экспедиции», «Примерный список вещей для экспедиции» и «Правила поведения в экспедиции»</p>
    <p>Поля, перед которыми стоят "галочки" (  ) – обязательны к заполнению!</p>

    <div class="aae-form-content">
      <div class="aae-form-row">
        <div class="aae-form-title">Ваша Фамилия, Имя и Отчество полностью</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Дата рождения</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Место рождения</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваш электронный адрес (e-mail)</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваш город проживания</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Адрес web-сайта, блога (если есть)</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваш домашний телефон</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваш рабочий телефон</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваш сотовый телефон</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваше место работы или учебы</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваша должность</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Дата планируемого прибытия в ААЭ</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Дата планируемого отъезда из ААЭ</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Кем, где и в каких экспедициях вы работали (если нет - оставьте поле пустым)</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Время Вашего пребывания в каких-либо экспедициях ранее</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Опишите Ваши археологические/экспедиционные умения, навыки (если имеются)</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваши интересы</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Какими языками Вы владеете</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Из каких источников Вы узнали об экспедиции</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Ваши пожелания или вопросы</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
      <div class="aae-form-row">
        <div class="aae-form-title">Контакты на случай критической ситуации (родственники, друзья). Желательно мобильные телефоны, телефоны основного места работы, адреса.</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
      </div>
    </div>

    <p>Отправляя данную заявку я подтвеждаю, что мною прочитан список документов для участников археологической экспедиции и примерный список вещей для экспедиции, а также прочитаны правила поведения в экспедиции с которыми я выражаю своё полное согласие.</p>

    <input type="submit" value="Отправить">
    <input type="reset" value="Очистить">
    
  </div>

</section>
