@import "../../../colors"

section
  position: relative
  padding: 0 0 200px 0

  .aae-article-pattern
    position: absolute
    bottom: 0
    right: 0
    height: 1000px
    width: 856px
    background: url("/assets/img/pattern_1.png") right bottom no-repeat
    opacity: .05

  .aae-article-header
    position: relative
    overflow: hidden
    margin-bottom: 90px
    max-height: 100vh

    .aae-article-header-img
      position: relative
      z-index: 10

    img
      width: 100%

    .aae-article-header-img-gradient
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      opacity: .7
      background: $black-opacity-5
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black-opacity-5), color-stop(100%, $black-opacity-0))
      background: -webkit-linear-gradient(top, $black-opacity-5 0%, $black-opacity-0 100%)
      background: -moz-linear-gradient(top,    $black-opacity-5 0%, $black-opacity-0 100%)
      background: -ms-linear-gradient(top,     $black-opacity-5 0%, $black-opacity-0 100%)
      background: -o-linear-gradient(top,      $black-opacity-5 0%, $black-opacity-0 100%)
      background: linear-gradient(to bottom,   $black-opacity-5 0%, $black-opacity-0 100%)
      z-index: 15

    .aae-article-header-text
      position: absolute
      top: 234px
      left: 0
      right: 0
      z-index: 20
      background: $black-opacity-1
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $black-opacity-1), color-stop(100%, $black-opacity-0))
      background: -webkit-linear-gradient(top, $black-opacity-1 0%, $black-opacity-0 100%)
      background: -moz-linear-gradient(top,    $black-opacity-1 0%, $black-opacity-0 100%)
      background: -ms-linear-gradient(top,     $black-opacity-1 0%, $black-opacity-0 100%)
      background: -o-linear-gradient(top,      $black-opacity-1 0%, $black-opacity-0 100%)
      background: linear-gradient(to bottom,   $black-opacity-1 0%, $black-opacity-0 100%)
      padding-top: 30px
      padding-bottom: 150px

      .aae-author-name,
      .aae-author-title
        color: $grey-100

      .aae-author-name
        font-weight: 500

      .aae-author-title
        font-weight: 400
        font-style: italic

      h1
        color: #ffffff
        font-size: 60px
        font-weight: 500
        text-align: left
        width: 500px
        line-height: 63px

  .aae-article-intro
    margin: 50px 0 0 0
