<section *ngIf="article" class="aae-article-section">

  <div class="aae-article-pattern"></div>

  <div class="aae-article-header">

    <div class="aae-article-header-img">
      <img src="/assets/img/articles/{{ article.id }}.jpg" alt="">
    </div>

    <div class="aae-article-header-img-gradient"></div>

    <div class="aae-article-header-text">
      <div class="aae-header-wrapper">
        <h1 [innerHtml]="article.title"></h1>
      </div>
    </div>

  </div>

  <div class="aae-article-intro">
    <div class="aae-main-wrapper-narrow">
      <div class="aae-intro">
        <div [innerHtml]="article.intro"></div>
      </div>
    </div>
  </div>

  <div class="aae-article-content">
    <div class="aae-main-wrapper-narrow" [innerHtml]="article.content"></div>
  </div>

</section>
