@import "../colors"
@import "../variables"

.scroll-to-top
  color: $white
  position: fixed
  bottom: 95px
  right: 95px
  opacity: 0
  transition: all .2s ease-in-out
  z-index: 50

  div
    span
      background-color: $secondary-dark
      font-size: 18px
      padding: 5px 20px 9px
      border-radius: 3px
      color: $white
      text-shadow: none
      font-weight: 400
      letter-spacing: .5px
      position: relative
      bottom: 10px
      right: 3px
      opacity: 0
      transition: all .5s ease-in-out

  &.show-scroll
    opacity: 1
    transition: all .2s ease-in-out
    color: $primary
    font-size: 40px
    cursor: pointer
    opacity: .3
    text-shadow: 1px 2px 3px $blue-grey-900

    &:hover,
    &:active
      opacity: .9

      div
        span
          opacity: .9
