<mat-sidenav-container>

  <mat-sidenav #sidenav mode="over" opened="false">

    <a *ngFor="let menuItem of menu" routerLink="/{{ menuItem.alias }}" routerLinkActive="active">
      {{ menuItem.title }}
    </a>
    
  </mat-sidenav>

  <div class="aae-content">
  
    <app-header></app-header>
    
    <router-outlet></router-outlet>
    
    <app-footer></app-footer>
      
  </div>

</mat-sidenav-container>

<aside>
  <div class="aae-sidenav-toggle" (click)="sidenav.toggle()">
      <i class="fa fa-bars" aria-hidden="true"></i>
  </div>
</aside>
