@import "../../../variables"

.aae-main
  background: url("http://artezian.zone/pages/main.jpg") center center / cover no-repeat
  position: relative
  padding: 60px 0

  .aae-color-mask
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    opacity: .7
    background: $black-opacity-8
    background: -webkit-linear-gradient( $black-opacity-9, $black-opacity-6, $black-opacity-9)
    background: -moz-linear-gradient(    $black-opacity-9, $black-opacity-6, $black-opacity-9)
    background: -o-linear-gradient(      $black-opacity-9, $black-opacity-6, $black-opacity-9)
    background: linear-gradient(         $black-opacity-9, $black-opacity-6, $black-opacity-9)
    z-index: 10

  .aae-main-content
    position: relative
    max-width: 1200px
    margin: 100px auto
    z-index: 20
    color: $white
    text-align: center

    h1
      font-weight: 900
      font-size: 90px
      text-transform: uppercase
      margin: 0 0 30px
      line-height: 100px
      padding: 0
      margin: 0 0 20px 0

      span
        color: $primary

    .aae-main-page-buttons
      display: flex
      justify-content: center
      align-items: center

      div
        background-color: $white
        color: $grey-900
        cursor: pointer
        padding: 10px 15px
        border-radius: 3px
        margin: 20px
        font-size: 20px
        font-weight: 400
        text-transform: uppercase
        -webkit-transition: all 250ms ease-out
        -moz-transition: all 250ms ease-out
        -o-transition: all 250ms ease-out
        transition: all 250ms ease-out

        &:hover,
        &:active
          background-color: $primary
          color: $white
