<section class="main" [ngStyle]="{'min-height': height}">

  <div class="mask"></div>

  <aae-header [section]="{alias: 'main', name: ''}"></aae-header>

  <aae-menu [alias]="'main'" [menu]="menu"></aae-menu>

  <div class="content">

    <div class="header">

        <div class="logo"></div>

        <h1>Артезианская<br>
          <span>Археологическая</span><br>
          Экспедиция</h1>

    </div>

    <div class="buttons">
      <div routerLink="/about">Подробнее об экспедиции</div>
      <div>Как попасть в экспедицию</div>
    </div>

  </div>

</section>

<section *ngIf="texts" class="main-texts">
  <aae-text [text]="texts[0]"></aae-text>
  <aae-text [text]="texts[1]"></aae-text>
  <aae-text [text]="texts[2]"></aae-text>
  <aae-text [text]="texts[3]"></aae-text>
  <aae-text [text]="texts[4]"></aae-text>
  <aae-text [text]="texts[5]"></aae-text>
</section>
