<section class="main" [ngStyle]="{'min-height': height}">

  <div class="mask"></div>

  <aae-header [section]="{alias: 'main', name: ''}"></aae-header>

  <aae-menu [alias]="'main'" [menu]="menu"></aae-menu>

  <div class="content" [ngStyle]="{'min-height': contentHeight}">

    <div class="header">

        <h1>
          <span class="header-a">Артезианская</span><br>
          <span class="header-b">Археологическая</span><br>
          <span class="header-c">Экспедиция</span>
        </h1>

    </div>

    <div class="buttons">
      <div class="row">
        <div routerLink="/about" class="button-left">Подробнее об экспедиции</div>
        <div routerLink="/about" class="button-right">Как попасть в ААЭ</div>
      </div>
    </div>

  </div>

</section>

<section *ngIf="texts" class="main-texts">

  <div class="waves-bg-1"></div>

  <div class="waves-bg-2"></div>

  <div class="welcome">
    <div class="text">Добро<br>пожаловать</div>
    <div class="icon">
      <i class="fa fa-university" aria-hidden="true"></i>
    </div>
    <div class="content" [innerHtml]="intro"></div>
  </div>

  <div *ngFor="let text of texts">

    <div class="parallax" [ngStyle]="{'background-image': 'url(/pages-photos/parallax-' + text.img + '.jpg)'}"></div>

    <aae-text [text]="text"></aae-text>

  </div>

</section>
