@import "../../../variables"

section
  &.main
    position: relative
    background: url("http://artezian.zone/pages/main.jpg") center center / cover no-repeat

    .mask
      +opacity(0.7)
      +background-gradient($black-opacity-9, $black-opacity-6, $black-opacity-9, vertical)
      position: absolute
      top: 0
      bottom: 0
      left: 0
      right: 0
      z-index: z('mask')

    .content
      position: relative
      color: $main
      margin: 100px auto
      text-align: center
      width: 1200px
      z-index: z('main')

      .header
        +flex
        margin: 0 0 30px 0

        .logo
          background: url("/assets/img/logo.png") center center / contain no-repeat
          height: 172px
          width: 380px

        h1
          +font-size(60px)
          font-weight: 900
          padding: 0 0 0 20px
          margin: 0 0 0 20px
          line-height: 0.9
          text-transform: uppercase
          text-align: left

          span
            color: $main-span

      .buttons
        +flex

        div
          +font-size(20px)
          +transition(all .25s ease-out)
          font-weight: 400
          background-color: $main-div-bg
          color: $main-div
          cursor: pointer
          padding: 10px 15px
          margin: 100px 20px
          border-radius: 3px
          text-transform: uppercase

          &:hover,
          &:active
            background-color: $main-div-hv-bg
            color: $main-div-hv

section
  &.main-texts
    width: 1000px
    margin: 0 auto
    background-color: $white
    box-shadow: 0 0 200px $blue-grey-900
    position: relative

    .waves-bg-1
      position: absolute
      top: 500px
      left: 0
      width: 100%
      height: 320px
      background: url("/assets/img/waves.png") 0 0 repeat-x
      +opacity(0.2)

    .waves-bg-2
      position: absolute
      top: 528px
      left: 0
      width: 100%
      height: 292px
      background: url("/assets/img/waves.png") 480px 0 repeat-x
      +opacity(0.2)

    .welcome
      padding: 100px
      position: relative
      margin-bottom: 330px

      .text
        +font-size(30px)
        +transform(rotate(270deg))
        font-weight: 500
        position: absolute
        width: 400px
        text-align: center
        top: 145px
        left: -130px
        background-color: #fec900
        text-transform: uppercase
        height: 150px
        color: #fff
        line-height: 1.25
        padding: 20px 0 0 0

      .icon
        +font-size(50px)
        position: absolute
        top: 180px
        left: 105px
        width: 100px
        height: 100px
        background-color: $white
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2)
        +flex

      .content
        padding: 0 0 0 180px
        text-align: center
        font-size: 24px
        font-weight: 300

    .wrapper
      +flex
      padding: 50px 0

      &.dark
        +background-gradient(rgba(37,40,48,.37), rgba(37,40,48,.29), rgba(37,40,48,.21), vertical)

      &.right
        .img-wrapper
          box-shadow: -5px 15px 150px 0px rgba(0, 0, 0, 0.2)
          
          .img-bg
            right: -20px

      &.left
        .img-wrapper
          box-shadow: 5px 15px 150px 0px rgba(0, 0, 0, 0.2)
          
          .img-bg
            left: -20px

      .img-wrapper,
      .content
        width: 400px
        margin: 25px

      .img-wrapper
        height: 400px
        position: relative
        overflow: none
        border-radius: 5px

        .img-bg
          position: absolute
          top: 50px
          background-color: #fec900
          height: 300px
          width: 200px

        .img
          position: relative
          width: 400px
          height: 400px
          border-radius: 5px

      .img-1
        background: url("http://artezian.zone/pages/main-1.jpg") center center / cover no-repeat

      .img-2
        background: url("http://artezian.zone/pages/main-2.jpg") center center / cover no-repeat

      .img-3
        background: url("http://artezian.zone/pages/main-3.jpg") center center / cover no-repeat

      .img-4
        background: url("http://artezian.zone/pages/main-4.jpg") center center / cover no-repeat

      .img-5
        background: url("http://artezian.zone/pages/main.jpg") center center / cover no-repeat

    .parallax
      width: 100%
      height: 200px
      
      &.p-1
        background: url("http://artezian.zone/pages/main.jpg") center center / cover no-repeat
      
      &.p-2
        background: url("http://artezian.zone/pages/main-2.jpg") center center / cover no-repeat