<section class="aae-main" [ngStyle]="{'min-height': height}">

  <div class="aae-color-mask"></div>

  <app-header [section]="{alias: 'main', name: ''}"></app-header>
  
  <app-menu [alias]="'main'"></app-menu>

  <div class="aae-main-content">

    <h1>Артезианская<br>
      <span>Археологическая</span><br>
      Экспедиция</h1>

    <div class="aae-main-page-buttons">
      <div routerLink="/about">Подробнее об экспедиции</div>
      <div>Как попасть в экспедицию</div>
    </div>
    
  </div>

</section>
