@import "../../../colors"
@import "../../../variables"

.aae-not-found
  position: relative
  margin: $margin-narrow-top 0 $margin-narrow-bottom

  .aae-not-found-wrapper
    background-color: $grey-100
    margin: $margin-narrow auto
    padding: $padding-narrow
    width: $width-narrow