@import "../../../variables"

section
  position: relative
  background-color: $menu-bg
  padding: 0 0 10px 0
  border-bottom: 1px solid $menu-bd
  letter-spacing: 0.5px
  width: 100%
  z-index: z('menu')

  .wrapper
    margin: 0 auto
    width: 100%
    max-width: 1400px

    .content
      +flex(space-between)
      padding: 0 60px

      nav
        position: relative
        left: -10px
        padding: 10px 0

        a
          +font-size(14px)
          +transition(all .25s ease-out)
          font-weight: 700
          color: $menu-nav
          padding: 0 10px
          text-decoration: none
          text-transform: uppercase

          &:hover,
          &:active
            color: $menu-nav-hv

          &.active
            color: $menu-nav-active

      .social
        position: relative
        right: -5px
        padding: 10px 0

        a
          +transition(all .25s ease-out)
          color: $menu-social
          padding: 0 5px
          text-decoration: none

          &:hover,
          &:active
            color: $menu-social-hv

          i
            +font-size(18px)
            font-weight: 400

  &.main
    background-color: $menu-main-bg
    border-bottom: none

    .wrapper
      .content
        nav
          a
            +transition(all 0s ease-out)
            font-weight: 500
            color: $menu-main-content

            &:hover,
            &:active
              color: $menu-main-content-hv
              padding-bottom: 4px
              border-bottom: 1px solid $menu-main-content-hv-bd

        .social
          a
            color: $menu-main-social

            &:hover,
            &:active
              color: $menu-main-social-hv
