@import "../../../variables"

section
  position: relative
  width: 100%
  border-bottom: 1px solid $menu-bd
  background-color: $menu-bg
  letter-spacing: 0.5px
  z-index: z('menu')

  .wrapper
    width: 100%
    max-width: 1400px
    margin: 0 auto

    .content
      padding: 0 60px
      +flex(space-between)

      nav
        position: relative
        left: -10px
        padding: 10px 0

        a
          text-decoration: none
          padding: 0 10px
          text-transform: uppercase
          +font-size(14px)
          font-weight: 700
          color: $menu-nav
          +transition(all .25s ease-out)

          &:hover,
          &:active
            color: $menu-nav-hv

      .social
        position: relative
        right: -5px
        padding: 10px 0

        a
          text-decoration: none
          padding: 0 5px
          +transition(all .25s ease-out)
          color: $menu-social

          &:hover,
          &:active
            color: $menu-social-hv

          i
            +font-size(18px)
            font-weight: 400

  &.main
    background-color: $menu-main-bg
    border-bottom: none

    .wrapper
      .content
        nav
          a
            font-weight: 500
            +transition(all 0s ease-out)
            color: $menu-main-content

            &:hover,
            &:active
              color: $menu-main-content-hv
              padding-bottom: 4px
              border-bottom: 1px solid $menu-main-content-hv-bd

      .social
        a
          color: $menu-main-social

          &:hover,
          &:active
            color: $menu-main-social-hv
