@import "../../../variables"

section
  position: relative
  width: 100%
  border-bottom: $menu-bd
  background-color: $menu-bg
  letter-spacing: 0.5px
  z-index: 20

  .wrapper
    width: 100%
    max-width: 1400px
    margin: 0 auto

    .content
      padding: 0 60px
      display: -webkit-flex
      display: flex
      -webkit-justify-content: space-between
      justify-content: space-between
      -webkit-align-items: center
      align-items: center

      nav
        position: relative
        left: -10px
        padding: 10px 0

        a
          text-decoration: none
          padding: 0 10px
          text-transform: uppercase
          font-size: 14px
          font-weight: 700
          color: $menu-nav
          +transition(250ms)

          &:hover,
          &:active
            color: $menu-nav-hv

      .social
        position: relative
        right: -5px
        padding: 10px 0

        a
          text-decoration: none
          padding: 0 5px
          +transition(250ms)
          color: $menu-social

          &:hover,
          &:active
            color: $menu-social-hv

          i
            font-size: 18px
            font-weight: 400

  &.main
    background-color: $menu-main-bg
    border-bottom: none

    .wrapper
      .content
        nav
          a
            font-weight: 500
            +transition(0)
            color: $menu-main-content

            &:hover,
            &:active
              color: $menu-main-content-hv
              padding-bottom: 4px
              border-bottom: $menu-main-content-hv-bd

      .social
        a
          color: $menu-main-social

          &:hover,
          &:active
            color: $menu-main-social-hv
