<section *ngIf="menu" [class.main]="alias === 'main'">
  <div class="wrapper">
    <div class="content">

      <nav>
        <a *ngFor="let item of menu" routerLink="/{{ item.alias }}" routerLinkActive="active">{{ item.name }}</a>
      </nav>

      <span class="social">
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </span>

    </div>
  </div>
</section>
