<section class="aae-intro-section" [class.aae-selected]="introData.id % 2 === 0">
  <div class="aae-main-wrapper">

    <div class="aae-intro-img-block">

      <div class="aae-intro-img img-{{ introData.id }}"></div>

      <div class="aae-intro-img-gradient"></div>

      <h2 [innerHtml]="introData.title"></h2>

    </div>

    <div class="aae-intro-content">

      <div [innerHtml]="introData.intro"></div>

      <p class="aae-read-more">
        <a routerLink="/{{ page }}/{{ introData.alias }}">Читать далее...</a>
      </p>

    </div>

  </div>
</section>
