@import "../../../colors"

section
  padding: 150px 0

  .aae-intro-img-block
    position: relative
    border-top: 3px solid $orange-0

    .aae-intro-img
      position: relative
      height: 600px
      width: 1000px
      z-index: 20

    .img-1
      background: url("/assets/img/bg_about_1.jpg") center center / cover no-repeat

    .img-2
      background: url("/assets/img/bg_about_2.jpg") center center / cover no-repeat

    .img-3
      background: url("/assets/img/bg_about_3.jpg") center center / cover no-repeat

    .img-4
      background: url("/assets/img/bg_about_4.jpg") center center / cover no-repeat

    .img-5
      background: url("/assets/img/bg_about_5.jpg") center center / cover no-repeat

    .img-6
      background: url("/assets/img/bg_about_6.jpg") center center / cover no-repeat

    .img-7
      background: url("/assets/img/bg_about_7.jpg") center center / cover no-repeat

    .img-11
      background: url("/assets/img/bg_about_11.jpg") center center / cover no-repeat


    .aae-intro-img-gradient
      position: absolute
      top: 0
      left: 0
      height: 600px
      width: 1000px
      opacity: .7
      background: rgba(0, 0, 0, 0.1)
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0, 0, 0, 0.1)), color-stop(100%,#263238))
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,#263238 100%)
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%, #263238 100%)
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,#263238 100%)
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0.1) 0%,#263238 100%)
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%,#263238 100%)
      z-index: 25

    h2
      position: absolute
      bottom: 0
      left: 0
      color: #fff
      font-size: 55px
      text-transform: uppercase
      font-weight: 900
      z-index: 30
      margin: 0 350px 0 0
      padding: 20px 20px 30px 40px
      border-top: 15px solid #fff
      background: rgba(0,0,0,0.5)
      line-height: 57px
      word-spacing: 7px

  .aae-intro-content
    background-color: #eee
    padding: 20px 40px
    margin: 0px 350px 0 0px
    font-size: 18px
    font-weight: 300
    line-height: 1.5

    .aae-read-more
      text-align: left

      a
        color: #333
        font-weight: 900
        text-decoration: none
        text-transform: uppercase
        font-size: 13px

  &.aae-selected
    .aae-intro-img-block
      h2
        margin: 0 0 0 350px
        padding: 20px 40px 30px 20px

    .aae-intro-content
      margin: 0px 0px 0 350px

      .aae-read-more
        text-align: right
