h1 span {
  color          : #999;
  text-transform : uppercase;
  font-size      : 14px;
  font-weight    : 300;
}

#sample-image {
  display : none;
}

/*.mce-branding-powered-by,
.mce-btn,
.mce-panel {
  background-color : transparent !important;
}*/

.mce-branding-powered-by {
  border : none !important;
  display: none;
}


#main-img-box {
  position: relative;
}

#main-img-box .close {
  position: absolute;
  top: 30px;
  right: 35px;
  font-size: 18px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  display: none;
}

#main-img-box .close:hover,
#main-img-box .close:active {
  color: red;
  cursor: pointer;
}

#main-img-box::before {
  position: absolute;
  top: 20px;
  right: 22px;
  content: "";
  background-color: white;
  border-radius: 50px;
  width: 40px;
  height: 40px;
}

#thumbnail img {
  width: 100%;
}
