h1 span {
  color          : #999;
  text-transform : uppercase;
  font-size      : 14px;
  font-weight    : 300;
}

#sample-image {
  display : none;
}

.mce-branding-powered-by,
.mce-btn,
.mce-panel {
  background-color : transparent !important;
}

.mce-branding-powered-by {
  border : none !important;
}
