<div class="aae-image-show" [class.aae-is-show]="isShow">

  <div class="aae-image-wrapper">
    <img *ngIf="image" src="http://artezian.zone/gallery/{{ subalias }}/{{ image }}.jpg" alt="">
  </div>

  <div class="aae-image-show-next" (click)="showNext()">
    <i class="fa fa-angle-left fa-4x"></i>
  </div>

  <div class="aae-image-show-prev" (click)="showPrev()">
    <i class="fa fa-angle-right fa-4x"></i>
  </div>

  <div class="aae-img-show-close" (click)="closeImgShow()">
    <i class="fa fa-times fa-2x"></i>
  </div>

</div>