<section>

  <div class="wrapper">
    <img #img *ngIf="image"
      src="/gallery/{{ subalias }}/{{ image }}.jpg"
      alt="{{ albumName }} {{ names[index] }}"
      (load)="getSize(img)"
      [ngStyle]="{'width': currImgWidth, 'height': currImgHeight}">
  </div>

  <div class="current">{{ currNum }} / {{ maxNum }}</div>

  <div class="prev" (click)="showPrev()">
    <i class="fa fa-angle-left fa-4x"></i>
  </div>

  <div class="next" (click)="showNext()">
    <i class="fa fa-angle-right fa-4x"></i>
  </div>

  <div class="close" (click)="closeImgShow()">
    <i class="fa fa-times fa-2x"></i>
  </div>

</section>