@import "../../../colors"
@import "../../../variables"

.aae-album
  position: relative
  margin: $margin-wide-top 0 $margin-wide-bottom

  .aae-album-wrapper
    background-color: $grey-100
    margin: $margin-wide auto
    padding: $padding-wide
    width: $width-wide

    .aae-album-img-wrapper
      margin-bottom: 50px

      img
        width: 100%

      p
        color: $grey-100
        text-align: center
