@import "../../../colors"
@import "../../../variables"

.aae-album
  position: relative
  margin: $section-margin-top 0 $section-margin-bottom

  .aae-album-wrapper
    background-color: $grey-100
    margin: $wrapper-margin auto
    padding: 0 $wrapper-padding
    width: $wrapper-width-wide

    .aae-album-img-wrapper
      margin-bottom: 50px

      img
        width: 100%

      p
        color: $grey-100
        text-align: center
