@import "../../../variables"

section
  position: relative
  background-color: $album-bg

  .wrapper
    +flex(center, center, wrap)
    padding: 100px
    margin: 0 auto

    .image
      +font-size(0px)
      background-position: center center
      background-size: cover
      margin: 10px
      border: none
      line-height: 0
      outline: none
      width: 200px
      height: 200px
      text-decoration: none
