
// Section

$margin-narrow-top    : 150px
$margin-wide-top      : 200px

$margin-narrow-bottom : 250px
$margin-wide-bottom   : 300px

// Wrapper

$margin-narrow        : 100px
$margin-wide          : 150px

$padding-narrow       : 100px
$padding-wide         : 50px

$width-narrow         : 600px
$width-wide           : 900px
