@import '../node_modules/bulma/sass/utilities/initial-variables'

$fa-font-path: '../node_modules/font-awesome/fonts'


$orange: #FF5722
$orange-invert: #fff


$primary: $orange
$primary-invert: $orange-invert
