@import fonts
@import variables

html,
body
  +font-size(16px)
  padding: 0
  margin: 0

body
  position: relative
  font-family: $primary-font
  background-color: $styles-bg

.primary-font
  font-family: $primary-font

.secondary-font
  font-family: $secondary-font

// Articles ####################################################################

.article
  .intro
    padding: 0 0 0 20px
    margin-bottom: 50px
    border-left: 5px solid $styles-intro

    p
      +font-size(19px)
      font-weight: 300
      line-height: 26px

.article
  .content
    h2
      +font-size(36px)
      position: relative
      font-weight: 500
      color: $styles-content-header
      margin: 60px 0 40px 0
      line-height: 36px
      z-index: z('h2')

      &:first-child
        margin-top: 0

    p,
    li
      +font-size(17px)
      font-family: $secondary-font
      font-weight: 400
      color: $styles-content-text
      padding: 0
      margin: 20px 0 0 0
      line-height: 24px

.blog
  h2
    +font-size(31px)
    position: relative
    font-weight: 500
    color: $styles-blog-header
    line-height: 36px
    z-index: z('h2')

  p,
  li
    +font-size(16px)
    font-family: $secondary-font
    font-weight: 300
    color: $styles-blog-text
    padding: 0
    margin: 20px 0 0 0
    line-height: 24px
