<div class="top-nav" [class.show]="showTopNavContent">

  <div class="top-nav-title">
    <a href="#"></a>
  </div>

  <div *ngIf="menu" class="top-nav-menu">
    <nav>
      <a *ngFor="let item of menu" routerLink="/{{ item.alias }}" routerLinkActive="active">{{ item.name }}</a>
    </nav>
  </div>

  <div class="top-nav-social">
    <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
    <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
  </div>

</div>
