@import "../../../variables"

section
  position: relative
  margin: 150px 0 250px

  .wrapper
    background-color: $form-bg
    padding: 100px
    margin: 100px auto
    width: 600px

    a
      color: $form
      text-decoration: none

      &:hover,
      &:active
        color: $form-hv
        border-bottom: 1px solid $form-hv-bd

    & p:first-child
      text-align: center

    p
      line-height: 25px

      a
        border-bottom: 1px solid $form-bd

        &:hover,
        &:active
          border-bottom-color: $form-hv-bd

    .rules
      padding: 0 0 0 30px
      margin: 50px 0
      border-left: 3px solid $form-rules-bd

      h3
        text-transform: uppercase

      p
        +font-size(20px)
        font-weight: 300
        color: $form-rules
        line-height: 28px

      ul
        li
          font-style: italic

    .content
      margin: 50px 0

      .row
        +flex(space-between)
        padding: 10px 0

        .title
          padding: 10px 10px 10px 0
          line-height: 22px
          text-align: right
          width: 220px

        .input
          width: 330px

          input,
          textarea
            +font-size(18px)
            +transition(all .25s ease-out)
            color: $form-input-color
            padding: 10px
            border: none
            border-bottom: 2px solid $form-input-bd
            border-radius: 3px
            line-height: 22px
            outline: none
            width: 310px

            &:focus
              border-bottom-color: $form-focus-bd

        .check
          padding: 10px 0
          line-height: 22px
          text-align: center
          width: 30px

      .agree
        padding: 20px 0
        margin: 20px 0
        border-top: 1px solid $form-agree-bd
        border-bottom: 1px solid $form-agree-bd

        .checkbox
          padding: 10px 0
          text-align: center
          width: 30px

          input
            +font-size(18px)
            line-height: 22px

        .text
          +font-size(18px)
          padding: 0 10px
          line-height: 22px
          text-align: left
          width: 520px

      .submit-buttons
        .submit,
        .reset
          text-align: center
          width: 300px

          input
            +font-size(15px)
            +transition(all .25s ease-out)
            font-weight: 600
            background-color: transparent
            cursor: pointer
            padding: 10px 20px
            border-radius: 3px
            text-transform: uppercase

            &.input-submit
              color: $form-submit
              border: 3px solid $form-submit-bd

              &:hover,
              &:active
                background-color: $form-submit-hv-bg
                color: $form-submit-hv

            &.input-reset
              color: $form-reset
              border: 3px solid $form-reset-bd

              &:hover,
              &:active
                background-color: $form-reset-hv-bg
                color: $form-reset-hv
