<section>

  <div class="wrapper">

    <p>Если вы желаете принять участие в Артезианской Археологической Экспедиции, пожалуйста, заполните все основные разделы и нажмите кнопку «Отправить» внизу страницы.</p>

    <div class="rules">

      <h3>Внимание!</h3>

      <p>Перед заполнением заявки обязательно прочитайте внимательно разделы:</p>

      <ul>
        <li><a href="#">«Список документов для участников археологической экспедиции» <i class="fa fa-external-link"></i></a></li>
        <li><a href="#">«Примерный список вещей для экспедиции» <i class="fa fa-external-link"></i></a></li>
        <li><a href="#">«Правила поведения в экспедиции» <i class="fa fa-external-link"></i></a></li>
      </ul>

      <p>Отправление заявки означает, что вы ознакомились с вышеуказанной информацией и подтверждаете своё согласие с действующими правилами поведения в ААЭ.</p>

    </div>

    <p>Данная электронная заявка обеспечивает резервирование за вами места в ААЭ.</p>

    <p>Поля, помеченные "галочкой" ( <i class="fa fa-check"></i> ) – обязательны к заполнению!</p>

    <p>Вы также можете <a href="#">скачать данную заявку</a> в формате .doc для Microsoft Word, заполнить её и отправить самостоятельно по адресу: mail@artezian.info</p>

  </div>

  <div class="wrapper">

    <div class="content">

      <div class="row">
        <div class="title">Фамилия:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Имя:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Отчество:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Дата рождения:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Место рождения:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Ваш e-mail:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Ваш город проживания:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Адрес web-сайта, блога (если есть):</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Ваш домашний телефон:</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Ваш рабочий телефон:</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Ваш сотовый телефон:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Ваше место работы или учебы:</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Ваша должность:</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Дата желаемого прибытия в ААЭ:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Дата желаемого отъезда из ААЭ:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Кем, где и в каких экспедициях вы работали (если нет - оставьте поле пустым):</div>
        <div class="input">
          <textarea rows="10"></textarea>
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Время вашего пребывания в каких-либо экспедициях ранее:</div>
        <div class="input">
          <input type="text">
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Опишите ваши археологические или экспедиционные умения, навыки (если имеются):</div>
        <div class="input">
          <textarea rows="10"></textarea>
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Ваши интересы:</div>
        <div class="input">
          <textarea rows="10"></textarea>
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Какими языками вы владеете:</div>
        <div class="input">
          <input required type="text">
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Из каких источников вы узнали об экспедиции:</div>
        <div class="input">
          <textarea required rows="10"></textarea>
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="row">
        <div class="title">Ваши пожелания или вопросы:</div>
        <div class="input">
          <textarea rows="10"></textarea>
        </div>
        <div class="check"></div>
      </div>

      <div class="row">
        <div class="title">Контакты на случай критической ситуации (родственники, друзья). Желательно мобильные телефоны, телефоны основного места работы, адреса:</div>
        <div class="input">
          <textarea required rows="10"></textarea>
        </div>
        <div class="check">
          <i class="fa fa-check"></i>
        </div>
      </div>

      <div class="agree">
        <div class="row">
          <div class="checkbox">
            <input type="checkbox">
          </div>
          <div class="text">
            <p>Отправляя данную заявку я подтвеждаю:</p>
            <ul>
              <li>что мною прочитан <a href="about/9">список документов для участников археологической экспедиции</a> и <a href="about/10">примерный список вещей для экспедиции</a>,</li>
            </ul>
          </div>
          <div class="check">
            <i class="fa fa-check"></i>
          </div>
        </div>
        <div class="row">
          <div class="checkbox">
            <input type="checkbox">
          </div>
          <div class="text">
            <ul>
              <li>а также прочитаны <a href="about/11">правила поведения в экспедиции</a> с которыми я выражаю своё полное согласие.</li>
            </ul>
          </div>
          <div class="check">
            <i class="fa fa-check"></i>
          </div>
        </div>
      </div>

      <div class="row submit-buttons">
        <div class="submit">
          <input class="input-submit" type="submit" value="Отправить">
        </div>
        <div class="reset">
          <input class="input-reset" type="reset" value="Очистить">
        </div>
      </div>

    </div>

  </div>

</section>
