@import "../../../variables"

section
  position: relative
  margin: 150px 0 250px

  .wrapper
    background-color: $form-bg
    margin: 100px auto
    padding: 100px
    width: 600px

    a
      color: $form
      text-decoration: none

      &:hover,
      &:active
        color: $form-hv
        border-bottom: 1px solid $form-hv-bd

    & p:first-child
      text-align: center

    p
      line-height: 25px

      a
        border-bottom: 1px solid $form-bd

        &:hover,
        &:active
          border-bottom-color: $form-hv-bd

    .rules
      border-left: 3px solid $form-rules-bd
      padding: 0 0 0 30px
      margin: 50px 0

      h3
        text-transform: uppercase

      p
        color: $form-rules
        +font-size(20px)
        font-weight: 300
        line-height: 28px

      ul
        li
          font-style: italic

    .content
      margin: 50px 0

      .row
        display: flex
        justify-content: space-between
        align-items: center
        padding: 10px 0

        .title
          width: 220px
          padding: 10px 10px 10px 0
          text-align: right
          line-height: 22px

        .input
          width: 330px

          input,
          textarea
            color: $form-input-color
            width: 310px
            border: none
            padding: 10px
            border-bottom: 2px solid $form-input-bd
            border-radius: 3px
            +font-size(18px)
            line-height: 22px
            outline: none
            +transition(all .25s ease-out)

            &:focus
              border-bottom-color: $form-focus-bd

        .check
          width: 30px
          text-align: center
          padding: 10px 0
          line-height: 22px

      .agree
        padding: 20px 0
        margin: 20px 0
        border-top: 1px solid $form-agree-bd
        border-bottom: 1px solid $form-agree-bd

        .checkbox
          width: 30px
          padding: 10px 0
          text-align: center

          input
            +font-size(18px)
            line-height: 22px

        .text
          +font-size(18px)
          line-height: 22px
          text-align: left
          width: 520px
          padding: 0 10px

      .submit-buttons
        .submit,
        .reset
          width: 300px
          text-align: center

          input
            padding: 10px 20px
            +font-size(15px)
            text-transform: uppercase
            font-weight: 600
            border-radius: 3px
            background-color: transparent
            cursor: pointer
            +transition(all .25s ease-out)

            &.input-submit
              border: 3px solid $form-submit-bd
              color: $form-submit

              &:hover,
              &:active
                color: $form-submit-hv
                background-color: $form-submit-hv-bg

            &.input-reset
              border: 3px solid $form-reset-bd
              color: $form-reset

              &:hover,
              &:active
                color: $form-reset-hv
                background-color: $form-reset-hv-bg
