<section class="aae-form">

  <div class="aae-form-wrapper">

    <p>Если вы желаете принять участие в Артезианской Археологической Экспедиции, пожалуйста, заполните все основные разделы и нажмите кнопку «Отправить» внизу страницы.</p>

    <div class="aae-form-rules">

      <h3>Внимание!</h3>

      <p>Перед заполнением заявки обязательно прочитайте внимательно разделы:</p>

      <ul>
        <li><a href="#">«Список документов для участников археологической экспедиции» <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        <li><a href="#">«Примерный список вещей для экспедиции» <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
        <li><a href="#">«Правила поведения в экспедиции» <i class="fa fa-external-link" aria-hidden="true"></i></a></li>
      </ul>
      
      <p>Отправление заявки означает, что вы ознакомились с вышеуказанной информацией и подтверждаете своё согласие с действующими правилами поведения в ААЭ.</p>
    
    </div>
    
    <p>Данная электронная заявка обеспечивает резервирование за вами места в ААЭ.</p>

    <p>Поля, помеченные "галочкой" ( <i class="fa fa-check" aria-hidden="true"></i> ) – обязательны к заполнению!</p>

    <p>Вы также можете <a href="#">скачать данную заявку</a> в формате .doc для Microsoft Word, заполнить её и отправить самостоятельно по адресу: mail@artezian.info</p>

  </div>

  <div class="aae-form-wrapper">

    <div class="aae-form-content">

      <div class="aae-form-row">
        <div class="aae-form-title">Фамилия:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Имя:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Отчество:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Дата рождения:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Место рождения:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваш e-mail:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваш город проживания:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Адрес web-сайта, блога (если есть):</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваш домашний телефон:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваш рабочий телефон:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваш сотовый телефон:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваше место работы или учебы:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваша должность:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Дата желаемого прибытия в ААЭ:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Дата желаемого отъезда из ААЭ:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Кем, где и в каких экспедициях вы работали (если нет - оставьте поле пустым):</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Время вашего пребывания в каких-либо экспедициях ранее:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Опишите ваши археологические или экспедиционные умения, навыки (если имеются):</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваши интересы:</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Какими языками вы владеете:</div>
        <div class="aae-form-input">
          <input type="text">
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Из каких источников вы узнали об экспедиции:</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Ваши пожелания или вопросы:</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check"></div>
      </div>

      <div class="aae-form-row">
        <div class="aae-form-title">Контакты на случай критической ситуации (родственники, друзья). Желательно мобильные телефоны, телефоны основного места работы, адреса:</div>
        <div class="aae-form-input">
          <textarea rows="10"></textarea>
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row aae-form-agree-wrapper">
        <div class="aae-form-agree-check">
          <input type="checkbox">
        </div>
        <div class="aae-form-agree-text">
          <p>Отправляя данную заявку я подтвеждаю:</p>
          <ul>
            <li>что мною прочитан список документов для участников археологической экспедиции и примерный список вещей для экспедиции,</li>
            <li>а также прочитаны правила поведения в экспедиции с которыми я выражаю своё полное согласие.</li>
          </ul>
        </div>
        <div class="aae-form-check">
          <i class="fa fa-check" aria-hidden="true"></i>
        </div>
      </div>

      <div class="aae-form-row aae-form-submit-wrapper">
        <div class="aae-form-submit">
          <input class="aae-form-input-submit" type="submit" value="Отправить">
        </div>
        <div class="aae-form-reset">
          <input class="aae-form-input-reset" type="reset" value="Очистить">
        </div>
      </div>

    </div>

  </div>

</section>
