section
  color: #ccc
  background-color: #1E2127

  .aae-main-wrapper
    display: -webkit-flex
    display: flex
    -webkit-justify-content: space-between
    justify-content: space-between
    -webkit-align-items: flex-start
    align-items: flex-start
    padding: 50px 0

    h3
      padding: 15px 0 0 0

    a
      color: #ccc
      text-decoration: none

      &:hover,
      &:active
        color: #fff

    .aae-popular-articles
      width: 60%

      ul
        padding: 0
        margin: 0

        li
          list-style: none
          padding: 5px 0

    .aae-contact
      width: 35%

      p
        span
          font-weight: 600

  .copyright
    background-color: #252830
    padding: 50px 0
    text-align: center
